<div class="position-fixed top-50 start-50 translate-middle">
    <div class="modal-dialog custom-modal-dialog p-3">
        <div class="modal-content">
            <div
                class="modal-header border-0 d-flex justify-content-end pt-2 mb-3 mt-0">
                <button type="button" class="close">
                    <img class="close_btn"
                        src="/assets/images/btn_close.png">
                </button>
            </div>
            <div class="modal-body">
                <div class="row d-flex justify-content-between">
                    <div class="col-3 text-start">
                        <img class=" profile" src="/assets/images/Ellipse_52.png">
                    </div>
                    <div class="col-6 text-center">
                        <p class="title">Client Feedback</p>
                    </div>
                    <div class="col-3 text-end">
                        <img class="awardslogo"
                            src="/assets/images/client_feedback.png"
                            alt="Image 2">
                    </div>
                </div>
                <hr>
                <div class="table-responsive ">
                    <table class="table table-bordered"
                        *ngIf="feedbackdata.length>0">
                        <thead class="text-center">
                            <tr>
                                <th>Date</th>
                                <th>Feedback</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let cv of feedbackdata;let i=index">
                                <td>{{ cv.Date }}</td>
                                <td>{{ cv.Feedback }}</td>
                                <td><img src="assets/images/edit.png" class="logo1 logo-hover"><img src="assets/images/delete.png" class="logo2 logo-hover" (click)="deleteRow(i)"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div
                        class="d-flex justify-content-center align-content-center"><img
                            class="d-flex no_data  justify-content-center"
                            *ngIf="feedbackdata.length===0"
                            src="/assets/images/client_no_data.png"alt="No Data" />
                            
                    </div>
                </div>
  
            </div>
            <div class="modal-footer d-flex bottom-0 justify-content-end">
                <button type="button" class="btn ">Add New Feedback</button>
            </div>
        </div>
    </div>
  </div>