.layout {
  display: flex;
}

.scratchbutton {
  position: relative;
  /* margin-top: 39%;
  margin-left: 92%;
   */

}

.scratchbutton img {
  position: fixed;
  bottom: 13%;
  right: 6.2%;
  cursor: pointer;
  background: transparent;
  max-height: 40px;
  max-width: 40px;

}
.scratchbutton img:hover {

  transform: perspective(6.5cm) scale(1.2) rotateX(10deg);
}

.header {
  height: 50px;
  flex: 0 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 60px;
  right: 0;
  z-index: 100;
}
.logo{
  
  position: fixed;
  bottom: 2px;
  right: 0%;
  height: 12%;
  background: transparent;
}
.logo img{
  height: 100%;
}
.sidebar {
  flex: 0 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.content {
  position: fixed;
  width: calc(100vw - 60px);
  padding: 0;
  top: 50px;
  left: 60px;
  overflow-y: auto;
  height: calc(100vh - 30px);
}
