.layout {
  display: flex;
}

.header {
  height: 50px;
  flex: 0 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 60px;
  right: 0;
}

.sidebar {
  flex: 0 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.content {
  position: fixed;
  width: calc(100vw - 60px);
  padding: 0;
  top: 50px;
  left: 60px;
  overflow-y: auto;
}
