<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="loginPage">
    <div class="leftSide">
        <a class="navbar-brand" href="#">
            <img  class="logoGemini" src="assets/images/gemini_logo.png" alt="Logo" />
        </a>
        <img class="main-bg" src="assets/images/login_image.jpg" alt="login_image" />
    </div>
    <div class="rightSide">
        <p class="welcome">Welcome!</p>
        <div class="box ">
            <img class="app_logo" src="./../../../../../assets/images/app_logo.svg" alt="itellisence" />
            <button class="ssoButton ">Login via SSO</button>
        </div>
    </div>
</div>

  