@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginPage {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.leftSide {
  width: 55%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.rightSide {
  width: 45%;
  height: 100vh;
  background-color: #205072;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.navbar-brand {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10vh;
}

.logoGemini {
  height: 5vh;
  width: auto;
}

.main-bg {
  background-color: #ffffff;
  align-items: left;
  background-size: cover;
  width: auto;
  height: 80vh;
}

.welcome {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ffffff;
  width: 50%;
  height: 60%;
  justify-content: space-around;
  align-items: center;
  background-image: url("./../../../../../assets/login images/gemini.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-x: center;
  background-position-y: bottom;
}

.app_logo {
  width: 50%;
  height: auto;
}

.ssoButton {
  height: 7vh;
  width: 70%;
  border-radius: 5px;
  background-color: #205072;
  color: #fff;
  border: none;
}

/* Responsive styles for mobile phones */

@media screen and (max-width: 767px) and (max-height: 1080px) {
  .loginPage {
    flex-direction: column;
  }

  .leftSide {
    display: none;
  }

  .rightSide {
    width: 100%;
    height: 100vh;
    padding: 20px;
    justify-content: center;
    position: fixed;
  }

  .main-bg {
    height: 60vh;
  }

  .box {
    width: 80%;
    height: 60%;
    background-position-y: bottom;
  }

  .welcome {
    font-size: 40px;
    align-self: center;
  }

  .ssoButton {
    width: 80%;
    font-size: 20px;
  }
}

@media (min-width: 768px) and (min-height: 800px) {
  .ssoButton {
    width: 90%;
    font-size: small;
    height: 5vh;
  }

  .leftSide {
    display: none;
  }

  .main-bg {
    background-color: #ffffff;
    align-items: left;
    background-size: cover;
    width: 60vh;
    height: 60vh;
  }

  .rightSide {
    width: 100%;
    height: 100vh;
    background-color: #205072;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  .ssoButton {
    height: 7vh;
    width: 70%;
    border-radius: 5px;
    background-color: #205072;
    color: #fff;
    border: none;
    font-size: 25px;
  }
}

@media (width: 768px) and (max-height: 799px) {
  .ssoButton {
    width: 90%;
    font-size: small;
    height: 5vh;
  }

  .leftSide {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 300px;
    align-items: center;
  }

  .main-bg {
    background-color: #ffffff;
    align-items: left;
    background-size: cover;
    width: 60vh;
    height: 60vh;
  }

  .rightSide {
    width: 70%;
    height: 100vh;
    background-color: #205072;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) and (min-height: 1080px) {
  .loginPage {
    flex-direction: column;
  }

  .leftSide {
    width: 55%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rightSide {
    width: 45%;
    height: 100vh;
    background-color: #205072;
    justify-content: space-evenly;
    align-items: center;
  }
  .main-bg {
    height: 50%;
    width: 75%;
  }

  .box {
    width: 50%;
    height: 60%;
    background-position-y: bottom;
  }

  .welcome {
    font-size: 48px;
    align-self: center;
  }

  .ssoButton {
    width: 80%;
    font-size: 30px;
  }
}

@media screen and (min-width: 1440px) and (max-height: 1080px) {
  .loginPage {
    flex-direction: column;
  }

  .leftSide {
    width: 55%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rightSide {
    width: 45%;
    height: 100vh;
    background-color: #205072;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .main-bg {
    height: 60vh;
  }

  .box {
    width: 80%;
    height: 60%;
    background-position-y: bottom;
  }

  .welcome {
    font-size: 40px;
    align-self: center;
  }

  .ssoButton {
    width: 80%;
  }
}

@media screen and (min-width: 1750px) and (max-height: 1080px) {
  .loginPage {
    flex-direction: column;
  }

  .leftSide {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rightSide {
    width: 50%;
    height: 100vh;
    background-color: #205072;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .main-bg {
    height: 70%;
  }

  .box {
    width: 60%;
    height: 70%;
    background-position-y: bottom;
  }

  .welcome {
    font-size: 40px;
    align-self: center;
  }

  .ssoButton {
    width: 80%;
  }
}

@media screen and (min-width: 1200) and (max-height: 800px) {
  .loginPage {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .leftSide {
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .rightSide {
    width: 45%;
    height: 100vh;
    background-color: #205072;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  .navbar-brand {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10vh;
  }

  .logoGemini {
    height: 5vh;
    width: auto;
  }

  .main-bg {
    background-color: #ffffff;
    align-items: left;
    background-size: cover;
    width: auto;
    height: 80vh;
  }

  .welcome {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
  }

  .box {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ffffff;
    width: 50%;
    height: 60%;
    justify-content: space-around;
    align-items: center;
    background-image: url("./../../../../../assets/login images/gemini.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: center;
    background-position-y: bottom;
  }

  .app_logo {
    width: 50%;
    height: auto;
  }

  .ssoButton {
    height: 7vh;
    width: 70%;
    border-radius: 5px;
    background-color: #205072;
    color: #fff;
    border: none;
  }
}
