<section class="loginPage d-flex row">
    <div class="leftSide">
        <a class="navbar-brand" href="#">
            <img src="assets/login images/logo.png" alt="Logo"
                class="logoGemini" />
        </a>
        <img class="main-bg"
            src="assets/login images/login_background 1.png"
            alt="main" />
    </div>
    <div class="rightSide">
        <p class="welcome">Welcome!</p>
        <div class="box">
            <img class="app_logo"
                src="./../../../../../assets/login images/appLogo.png"
                alt="itellisence" />
            <button class="ssoButton">Login via SSO</button>
        </div>
    </div>
</section>
