<section class="loginPage d-flex row">
    <div class="leftSide">
        <a class="navbar-brand" href="#">
            <img src="assets/images/gemini_logo.png" alt="Logo" class="logoGemini" />
        </a>
        <img class="main-bg" src="assets/images/login_image.jpg" alt="main" />
    </div>
    <div class="rightSide">
        <p class="welcome">Welcome!</p>
        <div class="box">
            <img class="app_logo" src="./../../../../../assets/images/app_logo.png" alt="itellisence" />
            <button (click)="clicked()" class="ssoButton">Login via SSO</button>
        </div>
    </div>
</section>



