@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Outfit", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loginPage {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.leftSide {
  width: 55%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.rightSide {
  width: 45%;
  height: 100vh;
  background-color: #205072;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.navbar-brand {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10vh;
}
.logoGemini {
  margin-top: 20px;
  height: 80%;
  width: 19vw;
}
.main-bg {
  height: 90%;
  width: auto;
}
.welcome {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}

/* ... Your existing CSS rules ... */

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #ffffff;
  width: 50%;
  height: 60%;
  justify-content: space-around;
  align-items: center;
}

.box-background {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./../../../../../assets/login images/gemini.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center bottom;
}
.app_logo {
  width: 50%;
  height: auto;
  z-index: 10;
}
.ssoButton {
  height: 6vh;
  width: 60%;
  border-radius: 10px;
  background-color: #205072;
  color: #fff;
  border: none;
  z-index: 10;
  font-size: 1.25rem;
}

.ssoButton:hover {
  border-radius: 10px;
  background: #205072;
  box-shadow: 0px 0px 3px 3px #38a3a5;
}
/* Responsive styles for mobile phones */

@media screen and (max-width: 767px) and (max-height: 1080px) {
  .loginPage {
    flex-direction: column;
  }

  /* .leftSide {
    display: none;
  } */

  .rightSide {
    width: 100%;
    height: 100%;
    padding: 20px;
    justify-content: center;
    position: fixed;
  }
  .box {
    width: 80%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: center;
    background-position-y: bottom;
  }
  .welcome {
    font-size: 40px;
    align-self: center;
  }
  .ssoButton {
    width: 60%;
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) and (min-height: 800px) {
  .ssoButton {
    width: 90%;
    font-size: small;
    height: 5vh;
  }
  .leftSide {
    display: none;
  }
  .rightSide {
    width: 100%;
    height: 100vh;
    background-color: #205072;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .ssoButton {
    height: 7vh;
    width: 70%;
    border-radius: 10px;
    background-color: #205072;
    color: #fff;
    border: none;
    font-size: 1.25rem;
  }
}

@media (width: 768px) and (max-height: 799px) {
  .ssoButton {
    width: 90%;
    font-size: small;
    height: 5vh;
  }
  .leftSide {
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 300px;
    align-items: center;
  }
  .rightSide {
    width: 45%;
    height: 100vh;
    background-color: #205072;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) and (min-height: 1080px) {
  .loginPage {
    flex-direction: column;
  }
  .leftSide {
    width: 55%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .rightSide {
    width: 45%;
    height: 100vh;
    background-color: #205072;
    justify-content: space-evenly;
    align-items: center;
  }

  .box {
    width: 50%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: center;
    background-position-y: bottom;
  }

  .welcome {
    font-size: 48px;
    align-self: center;
  }
  .ssoButton {
    width: 60%;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1440px) and (max-height: 1080px) {
  .loginPage {
    flex-direction: column;
  }
  .leftSide {
    width: 55%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .rightSide {
    width: 45%;
    height: 100vh;
    background-color: #205072;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  .box {
    width: 50%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: center;
    background-position-y: bottom;
  }
  .welcome {
    font-size: 40px;
    align-self: center;
  }
  .ssoButton {
    width: 60%;
  }
}

@media screen and (min-width: 1750px) and (max-height: 1080px) {
  .loginPage {
    flex-direction: column;
  }
  .leftSide {
    width: 55%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .rightSide {
    width: 45%;
    height: 100vh;
    background-color: #205072;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .box {
    width: 50%;
    height: 70%;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: center;
    background-position-y: bottom;
  }
  .welcome {
    font-size: 40px;
    align-self: center;
  }
  .ssoButton {
    width: 60%;
  }
}

@media screen and (min-width: 1200) and (max-height: 800px) {
  .loginPage {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .leftSide {
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .rightSide {
    width: 45%;
    height: 100vh;
    background-color: #205072;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  .navbar-brand {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10vh;
  }
  .welcome {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
  }
  .box {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ffffff;
    width: 50%;
    height: 60%;
    justify-content: space-around;
    align-items: center;
  }
  .app_logo {
    width: 50%;
    height: auto;
  }
  .ssoButton {
    height: 7vh;
    width: 60%;
    border-radius: 10px;
    background-color: #205072;
    color: #fff;
    border: none;
  }
}
