@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap");



.page-heading1 {
    position: absolute;
    top: 0rem;
    left: 4rem;
    display: flex;
    align-items: center;
    width: 15.19rem;
    height: 3.69rem;
    font-size:1.5rem ;
    font-weight:400;
}
.page-heading {
    position: relative;
    width: 98.88rem;
    height: 3.69rem;
    z-index: 0;
}
.arrow-back-icon {
    position: absolute;
    margin: 0 !important;
    top: 0.63rem;
    left: 0rem;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    flex-shrink:0;
    
}
.page-sub-header {
    position: relative;
    left:70px;
    top:70px;
    width:calc(100%-70px);
    display: flex;
    font-size: 1.5rem;
    color: #205072;
    font-family: Outfit;
    overflow: hidden;
}

.btn-all-employees-icon {
    position: relative;
    object-fit: cover;
    height: 60px;
    width: 60px;
    margin-left: 0px;
    margin-right: 100px;
}

.rounded-table {
    position: relative;
    top:100px;
    margin-left: 11vw;
    margin-right: 11vw;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    border: #205072;
    overflow: hidden;
  }

  th, td {
    padding-top: 1vw;
    padding-bottom: 1vw ;
    padding-left: 3vw;
    padding-right: 3vw ;
    border: 1px solid #ccc;
    color: #205072;
    text-align: center;
    font-family: Outfit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  td{
    color: #38A3A5;
    text-align: center;
    font-family: Outfit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }


  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }


  @media (min-width:1000px) and (max-width:1500px) {
    .page-heading1{
      font-size: 1.25rem;
      left:3.5rem;
      top:-3px;
    }
    th,td{
     font-size : 0.80rem;
    }
    .arrow-back-icon {
      width: 2rem;
      height: 2rem;
      
      
  }
    .btn-all-employees-icon {
      height: 50px;
      width: 50px;
  }
  }


  @media (min-width : 700px) and (max-width:1000px) {
    .page-heading1{
      font-size: 1rem;
      left:3rem;
      top:-5px;
    }
    th,td{
     font-size : 0.60rem;
    }
    .arrow-back-icon {
      width: 1.5rem;
      height: 1.5rem;
 
  }
    .btn-all-employees-icon {
      height: 40px;
      width: 40px;
  }
  .rounded-table{
    margin-left: 15vw;
  }
  } 

  @media (max-width:700px) {
    .page-heading1{
      font-size: 0.80rem;
      left:2rem;
      top:-10px;
    }
    th,td{
     font-size : 0.40rem;
    }
    .arrow-back-icon {

      width: 1rem;
      height: 1rem;
  
      
  }
    .btn-all-employees-icon {

      height: 25px;
      width: 25px;

  }
  .rounded-table{
    margin-left: 20vw;
  }
  }
