
<div class="page-sub-header">
    <div class="page-heading">
    <img class="arrow-back-icon" alt="" src="assets/employees/Arrow back.svg">
    <div class="page-heading1">All Employees</div>
    </div>
    <div class="line"></div>
    <img class="btn-all-employees-icon" alt="" src="assets/employees/btn_all_employees.png">
</div>




<table class="rounded-table">
    <tr>
      <th>Emp Code</th>
      <th>Name</th>
      <th>Designation</th>
      <th>Gemini Email</th>
      <th>EC Mentor Name</th>
    </tr>
    <tr>
      <td>GSI GI 882</td>
      <td>Shobhit Singh</td>
      <td>Technical Trainee</td>
      <td><img class="emailicon" src="assets/employees/email_icon.png"></td>
      <td>Garima Sharma</td>
    </tr>
    <tr>
        <td>GSI GI 880 </td>
        <td>Shivanshu Khanna</td>
        <td>Technical Trainee</td>
        <td><img class="emailicon" src="assets/employees/email_icon.png"></td>
        <td>Garima Sharma</td>
      </tr>
      <tr>
        <td>GSI GI 1006 </td>
        <td>Garima Sharma</td>
        <td> Senior Software Engineer L1</td>
        <td><img class="emailicon" src="assets/employees/email_icon.png"></td>
        <td>Charanjeev Singh Uppal</td>
      </tr>
      <tr>
        <td>GSI GI 883</td>
        <td>Aditya Kumar Kushwah</td>
        <td>Technical Trainee</td>
        <td><img class="emailicon" src="assets/employees/email_icon.png"></td>
        <td>Kavish Baranwal</td>
      </tr>
  </table>