<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loader Component</title>
</head>
<body>
    <div class="circle">
        <div class="parent">
        <div class="loading">
            <span class="c3"></span>
            <span class="c4"></span>
            <span class="c5"></span>
            <span class="c2"></span>
            <span class="c3"></span>
            <span class="c4"></span>
            <span class="c1"></span>
            <span class="c2"></span>
            <span class="c3"></span>
           </div>
        </div>
    </div>
       
  
    
</body>
</html>

