*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    display: flex;
    flex-wrap: wrap;
}

.circle {
    width: 234px;
    height: 234px;
    border-radius: 200px;
    box-shadow: 0 0 10px #38A3A5;
    border: 1px solid #38A3A5;
    display: flex;
    align-self: center;
    align-items: center;
  }
.loading{
    width: 70px;
    height: 70px;
    display: flex; 
    flex-wrap: wrap;
    justify-content:space-between;
    /* align-items:center; */
    transform: rotate(45deg);
    
    position:absolute;
}
.parent{
    justify-content: center;
    align-self: center;
    position:absolute;
    left:100 px;
}
.loading span{
    width:30%;
    height: 30%;
    /* animation: loading 2s linear infinite; */
}
.c1{
    background-color: #3bf5a7;;
    /* animation-delay: 0s!important; */
}
.c2{
    background-color: #0afa8acb;
    /* animation-delay: 0.2s!important; */
}
.c3{
    background-color: #3cf398;
    /* animation-delay: 0.4s!important; */
}
.c4{
    background-color: #14cc7fcb;
    /* animation-delay: 0.6s!important; */
}
.c5{
    background-color: #2fe298;
    /* animation-delay: 0.8s!important; */
}

@keyframes loading {
    0%,100%{
        transform: scale(0);
    }40%,80%{
        transform: scale(1);
    }
}