 /* Assuming the textarea has the class 'textarea-with-background' */
/* .text{
    padding: 50px;
}
.textarea-with-background {
    /* Set the background image */
    /* background-image: url('src/assets/images/scratchpadimage.png'); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color:black;
    width: 80%;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;  */

@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
body{
    background-color: rgb(255, 255, 161);
}
    .expand{
        position:absolute;
        height: 30px;
        width: 35px;
        opacity: 0.4;
        top: 0px;
        left: 0px;
        border: none;
        outline: none;

    }
    .shrink {
        position: absolute;
        /* Adjust the desired distance from the left */
        bottom: 0px;
        right: 0px;
        opacity: 0.4;
        border: none;
        outline: none;
      }
.text {
   
  background-color: rgb(235, 207, 52);
  width: 100%;
  height: 100%;
}
.textarea{
    font-family: Rock Salt;
    background-color: rgb(235, 207, 52);
    margin: 10px;
    width: 90%;
    height: 90%;
    resize: none;
    border: none;
    outline: none;
    font-size: 14px;
    color:(32, 80, 114, 0.80);
    font-weight: 400;

}


     