 /* Assuming the textarea has the class 'textarea-with-background' */
/* .text{
    padding: 50px;
}
.textarea-with-background {
    /* Set the background image */
    /* background-image: url('src/assets/images/scratchpadimage.png'); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color:black;
    width: 80%;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;  */

@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
body{
    background-color: rgb(255, 255, 161);
}
    .text {
        margin: 0px;
        padding: 0px;
        position: absolute;
       overflow: hidden;
    }
    .text img {
        display: block;
        margin-top:-10%;
        margin-bottom: -12%;
        margin-left: -20%;
        width: 140%;
        height: 100%;
        overflow: hidden;
    }
    
    .text textarea {
        font-family: Rock Salt;
        margin-top: 0px;
        margin-left:0px;
        position: absolute;
        padding-left: 3%;
        height: 100%;
        width: 100%;
        background-color: rgba(255,255,255,0);
        border: none;
        outline: none;
        font-size: 14px;
        line-height: 1.8;
        font-weight: 400;
        color: rgba(32, 80, 114, 0.80);
        resize: none;
    }

