 /* Assuming the textarea has the class 'textarea-with-background' */
/* .text{
    padding: 50px;
}
.textarea-with-background {
    /* Set the background image */
    /* background-image: url('src/assets/images/scratchpadimage.png'); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color:black;
    width: 80%;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;  */

@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
body{
    background-color: rgb(255, 255, 161);
}
    .text {
        margin: 0px;
        padding: 0px;
        position: absolute;
    }
    .text img {
        display: block;
        padding-bottom: 0px;
        width: 600px;
        height: 529px;
        margin: -40px;
        margin-left: -88px;
        margin-right: -100px;
        overflow: hidden;
    }
    
    .text textarea {
        font-family: Rock Salt;
        margin-top: 0px;
        margin-left:0px;
        position: absolute;
        height: 403px;
        width: 400px;
        background-color: rgba(255,255,255,0);
        border: none;
        outline: none;
        font-size: 20px;
        line-height: 1.8;
        overflow: hidden;
    }

