<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="nested-div">
<div class="contanier">
  <span class="btncross">
    <img src="assets/images/btn_close.png">
  </span>
  <div class="row ">
    <div class="col-3 ">
      <img src="assets/images/Ellipse_52.png" alt="Image" class="image">
    </div>
    <div class="col-6">
      <h1 class="heading">Other Contributions</h1>
    </div>
    <div class="col-3">
      <img src="assets/images/contri_logo.png" alt="Image" class="contri_logo_img">
    </div>
  </div>
  <div class="line"></div>
  <div class="row no_data_img">
    <img src="assets/images/contri_no_data.png">
  </div>
</div>
</div>