<div class="container">
    <h1>Interviews Taken</h1>
    
    <img class="imgsize" src="assets/images/Ellipse 48.png">
    
    <img class="logo" src="assets/images/interview.png">
    <span class="btncross" ><img  src="assets/images/btn_close.png"></span>
    <br>
    <div class="line"></div><br>
    <!-- <table class="rounded-table">
        <tr>
          <th>Date</th>
          <th>Certification Name</th>
          <th>Cost(₹)</th>
          <th>Link</th>
        </tr>
        <tr>
          <td>16-Mar-2023</td>
          <td>ITIL v4 Certified</td>
          <td>₹15,500</td>
          <td><a href="..">click</a></td>
        </tr>
        
      </table> -->
    
 </div> 
