
<div class="page-sub-header">
    <div class="page-heading">
    <img class="arrow-back-icon" alt="" src="assets/openpos/Arrow back.svg">
    <div class="page-heading1">Open Positions</div>
    </div>
    <div class="line"></div>
    <img class="btn-all-employees-icon" alt="" src="assets/openpos/btn_hiring.png">
  </div>
  <button class="btn">Add New Opening</button>

  <div class="tabs">
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link actived" [ngClass]="{'actived': activeTab === 'Active', 'aclosed': activeTab !== 'Active'}" (click)="setActiveTab('Active')" [class.active]="activeTab == 'Active'">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link closed" [ngClass]="{'closed': activeTab === 'Closed', 'cclosed': activeTab !== 'Closed'}" (click)="setActiveTab('Closed')" [class.active]="activeTab == 'Closed'">Closed</a>
        </li>
      </ul>
      <div class="line2"></div><br>
</div>
<div class="table-responsive rounded">
<table class="table table-bordered" *ngIf="activeTab === 'Active'">
    <thead class="text-center">
    <tr>
      <th>Priority</th>
      <th >Role</th>
      <th >Council</th>
      <th >Skills Required</th>
      <th >Experience</th>
      <th >Count</th>
      <th >Action</th>
    </tr>
    </thead>
    <tbody class="text-center">
    <tr *ngFor="let a of active; let i = index">
      <td ><img [src]="a.Priority" alt="Button 3" class="icon"></td>
      <td >{{a.Role}}</td>
      <td >{{a.Council}}</td>
      <td >{{a.SkillsRequired}}</td>
      <td >{{a.Experience}}</td>
      <td >{{a.Count}}</td>
      <td id="action" ><img src="assets/openpos/open.png" alt="Button 3" class="icon"><img src="assets/openpos/edit_pencil_button.png" alt="Button 3" class="icon2" matTooltip="Edit"><img src="assets/openpos/delete.png" alt="Button 3" (click)="deleteRow(i)" class="icon2" matTooltip="Delete"></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive rounded">
    <table class="table table-bordered ctable" *ngIf="activeTab === 'Closed'">
        <thead>
      <tr>
        <th >Priority</th>
        <th >Role</th>
        <th >Council</th>
        <th >Skills Required</th>
        <th >Experience</th>
        <th>Count</th>
        <th >Status</th>
        <th >Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of closed" >
        <td ><img src="assets/openpos/high priority.png" alt="Button 3" class="icon" ></td>
        <td >{{c.Role}}</td>
        <td id="council">{{c.Council}}</td>
        <td >{{c.SkillsRequired}}</td>
        <td >{{c.Experience}}</td>
        <td >{{c.Count}}</td>
        <td id="status">{{c.Status}}</td>
        <td ><img src="assets/openpos/open.png" alt="Button 3" class="icon"></td>
      </tr>
      </tbody>
      </table>
</div>
    
