@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap");

body{
  font-family: Outfit;
}
.personal-info-container{
  margin-left: 0%;
}
.cross{
  position: absolute;
  /* top: -1px;
  right: -10px; */
  cursor: pointer;
  font-size: 20px;
  color: #999;
  display: flex;
width: 20px;
height: 20px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.popup{
  
     margin-right: 5vw;
     margin-left: 5vw;
     padding: 1vw 0.25vw 0.5vw 0.25vw;
     margin-top: 0.1vw;
     bottom: 1vw;
     border-radius: 10px;
     border: 1px solid #205072;
     background: #FFF;
     box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.50);
        overflow-y: auto;
        position: fixed;
 }
 .card {
   margin-top: 20px;
 }
 
 .card-header{
   border-radius: 5px 5px 0px 0px;
 background: rgba(255, 0, 0, 0.10);
 box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
 height: 7vh;
 }
 
 .division{
   border: 1px;
 }
 
 .card-body{
 overflow: hidden;
 color: rgba(51, 54, 63, 0.80);
 text-overflow: ellipsis;
 font-family: Outfit;
 font-size: 12px;
 font-style: normal;
 font-weight: bold;
 line-height: normal;
 letter-spacing: 0.8px;
 }
 
 .remark-icon{
  margin-left: 1vw;
 /* margin-right: 9vw; */
  width: 17vw;
 }
 
 .card-info{
   color: #082737;
 font-family: Outfit;
 font-size: 14px;
 font-style: normal;
 font-weight: bold;
 line-height: normal;
 letter-spacing: 1px;
 }
 
 .task1{
   font-family: Outfit;
   color: #205072;
   font-weight: bold;
 }
 
 .task{
   color: #E50255;
 }
 
 .head{
   color: #082737;
 font-family: Outfit;
 font-size: 16px;
 font-style: normal;
 font-weight: 600;
 line-height: normal;
 letter-spacing: 0.9px;
 }
 
 
 .img-fluid {
   max-height: 80px;
   max-width: 25px;
 }
 
 .text-img {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .custom-card-title {
   color: #082737;
   font-family: Outfit;
   font-size: 30px;
   font-style: normal;
   font-weight: 200;
   line-height: normal;
 }
 
 .custom-card-designation {
   color: rgba(8, 39, 55, 0.50);
   /* font-size: 16px; */
   font-style: normal;
   font-weight: 400;
   line-height: normal;
 }
 
 .custom-card-h2 {
   color: #38A3A5;
   font-family: Outfit;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
 }
 
 .custom-card-d2 {
   color: #205072;
 font-family: Outfit;
 font-size: 14px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 }
 
 .custom-card-workStatus {
   color: #FD9536;
 text-align: center;
 font-family: Outfit;
 font-size: 12px;
 font-style: normal;
 font-weight: bold;
 line-height: normal;
 }
 
 
 /*  awrds, certifications, etc cards  */
 
 .menu-cards-row {
   margin-top: 8vh;
 }
 
 .menu-card-container {
   display: grid;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 .menu-card-box {
   border-radius: 5px;
   border: 1px solid #38A3A5;
   background: #FFF;
   box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
   /* padding: 1vw 3vw 1vw 3vw; */
   width: fit-content;
   cursor: pointer;
   display: flex;
   padding: 0.7vw 1.7vw 0.7vw 1.7vw;
    height: 10vh;
    width: 6vw;
 }
 
 .info{
   color: #205072;
 text-align: center;
 font-family: Outfit;
 font-size: 12px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 
 }
 .email{
   overflow: hidden;
 text-overflow: ellipsis; 
 }
 .menu-card-image {
   /* height: 90px;
   width: 90px; */
 }
 .menu-card-container{
   height: 15vh;
 }
 .menu-card-box{
  /* padding: 0.7vw 1.7vw 0.7vw 1.7vw;
  height: 10vh;
  width: 6vw; */
 }
 .menu-cards-row{
   margin-top: 0;
   
 }
 
 .menu-card-title {
   color: #082737;
   font-family: Outfit;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
 }
 
 .container-fluid {
  
   position: relative;
   display: flex;
   flex-direction: row;
 }
 
 .company-logo {
   position: fixed;
   bottom: 0vh;
   right: 1.4vw;
   z-index: 9999;
 }
 
 .image-container {
   width: 130px;
   height: 130px;
   border-radius: 50%;
   overflow: hidden;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
 }
 
 .circular-wrapper {
   width: 100%;
   height: 100%;
   border: 3px solid #38A3A5;
   border-radius: 50%;
   overflow: hidden;
 }
 
 .circular-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transform: scale(1.1);
   filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
 }
 
 .personal-info-row{
   margin-top: 0rem;
 }
 
 .dashboard-container{
   padding: 0rem;
   margin: 0;
 }
 
 .image-outer-container{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding-right: 0;
 }
 
 @media (max-width: 576px){

  .image_name{
    order: 1 ;
  }
  .detaildc{
    order: 5;
  }
  .skillcard{
    order: 3;
  }
  .ecdcsection{
    order: 6;
  }
  .recentactivity{
    order: 4;
  }
  .menucard{
    order: 2;
  }
  .popup{
 
    width: 92vw;
       height: 85vh; 
       margin-top: 2%;
       top:5vh;
       padding: 1vw 0.25vw 0.5vw 0.25vw;
       overflow-y: scroll;
       
   }
   .container-fluid{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    overflow-x:inherit;
   }
   .cross{
    position: absolute;
    margin-top: 0vh;
    right: 2px;
    margin-left: 10px;
    margin-right: -40px;
    cursor: pointer;
    color: #999;
    display: flex;
  width: 1.5vw;
  height: 1vh;
  /* justify-content: center;
  align-items: center; */
  flex-shrink: 0;
  }
  .image-container {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  
  .circular-wrapper {
    width: 100%;
    height: 100%;
    border: 3px solid #38A3A5;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .circular-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  }
  .custom-card-title{
    font-size: 3vw;
  }
  .custom-card-designation{
    font-size: 2.5vw;
  }
  .custom-card-workStatus{
    font-size: 10px;
  }
  .custom-card-h2 {
    font-size: 10px;
  }
  .custom-card-d2 {
    font-size: 10px;
  }
  
  .card-header{
    max-height: 4vh;
  }
  
  .menu-card-container {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50%; 
    width: 16%;
    margin-left: 18vw;
  }
  
  .menu-card-box {
    border-radius: 5px;
    border: 1px solid #38A3A5;
    background: #FFF;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
    /* padding: 1vw 3vw 1vw 3vw; */
    width: fit-content;
    cursor: pointer;
    display: flex;
    padding: 0.7vw 1.7vw 0.7vw 1.7vw;
    height: 100%;
    width: 100%;
    
  }
  
  .info{
    color: #205072;
  text-align: center;
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  
  }
  
  .menu-card-image {
    max-height: 90px;
    max-width: 50px;
  }
  
  
  .menu-cards-row{
    width: 55vw;
    
  }
  
  .menu-card-title {
    color: #082737;
    font-family: Outfit;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .remark-icon{
    margin-left: 20vw;
   /* margin-right: 9vw; */
    width: 45vw;
   }
 }
 @media (min-width: 576px) and (max-width:767px){
  .image_name{
    order: 1 ;
  }
  .detaildc{
    order: 5;
  }
  .skillcard{
    order: 3;
  }
  .ecdcsection{
    order: 6;
  }
  .recentactivity{
    order: 4;
  }
  .menucard{
    order: 2;
  }
  .popup{
 
    width: 92vw;
       height: 85vh; 
       margin-right: 5vw;
       margin-left: 5vw;
       margin-top: 2%;
       top:5vh;
       padding: 1vw 0.25vw 0.5vw 0.25vw;
   }
   .container-fluid{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
   }
   .headlogo{
    margin-bottom: -1%;
    
   }
   .cross{
    position: absolute;
    margin-top: 0vh;
    margin-right: -35px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #999;
    display: flex;
  width: 1.75vw;
  height: 1.5vh;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  }
   .image-container {
    width: 80px;
    height: 80px;
    
  }
  .remark-icon{
    margin-left: 8vw;
   /* margin-right: 9vw; */
    width: 24vw;
   }
  .custom-card-title {
    color: #082737;
    font-family: Outfit;
    font-size: 12px;
    font-style: normal;
    font-weight: 100;
    
  }
  .details{
    font-size: 12px;
  }

  .card-body{
    font-size: 9px;
  }
  .card-header{
    max-height: 6vw;
    
  }
  .card-info{
    font-size: 10px;
    font-weight: bold;
    
  }
  .imgskill{
    max-width: 20px;
    max-height: 20px;
    margin-left: 0;
    padding-left: 0;
  }
 
  .custom-card-designation {
    font-size: 11px; 
    font-weight: 400;
  }

  .custom-card-h2 {
    font-size: 10px;
  }

  .custom-card-d2 {
    font-size: 10px;
  }
  .info{
    font-size: 10px;
    font-weight: 500;
  }

  .menu-card-title {
    font-size: 12px;
  }

  .menu-card-image {
    max-height: 90px;
    max-width: 50px;
  }

  .menu-card-box {
    /* padding: 0.7vw 1.7vw 0.7vw 1.7vw; */
    /* padding: 0.7vw 1.7vw 0.7vw 1.7vw;*/
    height: 100%;
    width: 100%; 
    /* padding: 10px 10px 10px 10px;
    margin-right: 10vw;
    margin-left: 10vw; */
  }
  .menu-card-container{
    height: 50%; 
    width: 16%;  
    margin: 0;
    padding: 0;  
  }
  .menu-cards-row{
    width: 85vw;
  }
 } 


@media (min-width: 768px) and (max-width:991px){
  .image_name{
    order: 1 ;
  }
  .detaildc{
    order: 5;
  }
  .skillcard{
    order: 3;
  }
  .ecdcsection{
    order: 6;
  }
  .recentactivity{
    order: 4;
  }
  .menucard{
    order: 2;
  }
  .popup{
 
    width: 90vw;
       height: 80vh; 
       margin-right: 5vw;
       margin-left: 5vw;
       margin-top: 2%;
       top:5vh;
       padding: 1vw 0.25vw 0.5vw 0.25vw;
   }
   .container-fluid{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
   }
   .cross{
    position: absolute;
    margin-top: -1vh;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #999;
    display: flex;
  width: 1.75vw;
  height: 1.5vh;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  }
   .image-container {
    width: 80px;
    height: 80px;
    
  }
  .remark-icon{
    margin-left: 9vw;
   /* margin-right: 9vw; */
    width: 22vw;
   }
  .custom-card-title {
    color: #082737;
    font-family: Outfit;
    font-size: 2vw;
    font-style: normal;
    font-weight: 100;
    
  }
  .details{
    font-size: 12px;
  }
  
  .card-body{
    font-size: 9px;
  }
  .card-header{
    max-height: 5vw;
    
  }
  .card-info{
    font-size: 10px;
    font-weight: bold;
    
  }
  .imgskill{
    max-width: 20px;
    max-height: 20px;
    margin-left: 0;
    padding-left: 0;
  }
 
  .custom-card-designation {
    font-size: 1.5vw; 
    font-weight: 400;
  }

  .custom-card-h2 {
    font-size: 12px;
  }

  .custom-card-d2 {
    font-size: 12px;
  }

  .menu-card-title {
    font-size: 12px;
  }

  .menu-card-image {
    max-height: 90px;
    max-width: 50px;
  }

  .menu-card-box {
     height: 90%;
    width: 100%; 
  }
  .menu-card-container{
    height: 50%; 
    width: 15%;  
    margin: 0;
    padding: 0;  
  }
  .menu-cards-row{
    width: 80vw;
  }
 } 

 @media (min-width: 992px) and (max-width:1199px){
  
  .popup{
 
    width: 90vw;
       height: 80vh; 
       margin-right: 5vw;
       margin-left: 5vw;
       margin-top: 2%;
       top:5vh;
       padding: 1vw 0.25vw 0.5vw 0.25vw;
   }
   .container-fluid{
    display: flex;
    flex-direction: row;
    margin-top: 0.5%;
   }
   .cross{
    position: absolute;
    margin-top: -1vh;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #999;
    display: flex;
  width: 1.75vw;
  height: 1.5vh;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  }
   .image-container {
    width: 80px;
    height: 80px;
    
  }
  .custom-card-title {
    color: #082737;
    font-family: Outfit;
    font-size: 2vw;
    font-style: normal;
    font-weight: 100;
    font-weight: 600;
    
  }
  .custom-card-designation{
    font-size: 1vw;
  }
  .remark-icon{
    margin-left: 10vw;
   /* margin-right: 9vw; */
    width: 22vw;
   }
  /* .details{
    font-size: 12px;
  } */
  /* .horizontal-scrollbar-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  } */
  /* .card-body{
    font-size: 9px;
  } */
  .card-header{
    max-height: 4vw;
    
  }
  .card-info{
    font-size: 10px;
    font-weight: bold;
    
  }
  .imgskill{
    max-width: 20px;
    max-height: 20px;
    margin-left: 0;
    padding-left: 0;
  }
 
  
  .custom-card-h2 {
    font-size: 12px;
  }

  .custom-card-d2 {
    font-size: 12px;
  }

  .menu-card-title {
    font-size: 12px;
  }

  .menu-card-image {
    max-height: 90px;
    max-width: 50px;
  }

  .menu-card-box {
     height: 90%;
    width: 100%; 
  }
  .menu-card-container{
    height: 50%; 
    width: 15%;  
    margin: 0;
    padding: 0;  
  }
  .menu-cards-row{
    width: 80vw;
  }
 }
/* @media (max-width: 992px) {

  .popup{
 
    width: 90vw;
       height: 50vh; 
       margin-right: 5vw;
       margin-left: 5vw;
       margin-top: 10vw;
       top:5vh;
       padding: 1vw 0.25vw 0.5vw 0.25vw;
   }
   .image-container {
    width: 80px;
    height: 80px;
    
  }
  .custom-card-title {
    color: #082737;
    font-family: Outfit;
    font-size: 10px;
    font-style: normal;
    font-weight: 100;
    
  }
  .details{
    font-size: 12px;
  }
  
  .card-body{
    font-size: 9px;
  }
  .card-header{
    height: 4vh;
    
  }
  .card-info{
    font-size: 10px;
    font-weight: bold;
  }
  .imgskill{
    max-width: 20px;
    max-height: 20px;
    margin-left: 0;
    padding-left: 0;
  }
 
  .custom-card-designation {
    font-size: 10px; 
    font-weight: 400;
  }

  .custom-card-h2 {
    font-size: 12px;
  }

  .custom-card-d2 {
    font-size: 12px;
  }

  .menu-card-title {
    font-size: 12px;
  }

  .menu-card-image {
   
  }

  .menu-card-box {
    
  }
  .menu-card-container{
    height: 9vh;
  }
  
} */

@media (min-width: 1200px) and (max-width: 2000px){
  .popup{
 
    width: 90vw;
       height: 90vh; 
       margin-right: 5vw;
       margin-left: 5vw;
       /* margin-top: 20%; */
       top:5vh;
       padding: 1vw 0.25vw 0.5vw 0.25vw;
   }
   .container-fluid{
    display: flex;
    flex-direction: row;
    margin-top: 0.5%;
   }
  .cross{
    position: absolute;
    margin-top: -1vh;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #999;
    display: flex;
  width: 1.75vw;
  height: 1.5vh;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  }
  .image-container {
    width: 80px;
    height: 80px;
    
  }
  .remark-icon{
    margin-left: 6vw;
   /* margin-right: 9vw; */
    width: 22vw;
   }
  .custom-card-title {
    color: #082737;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    
  }
  .details{
    font-size: 12px;
  }
  
  .card-body{
    font-size: 12px;
  }
  .card-header{
    height: max-content;
    max-height: 5vw;
    
  }
  .card-info{
    font-size: 14px;
    font-weight: bold;
    
  }
  .imgskill{
    max-width: 20px;
    max-height: 20px;
    margin-left: 0;
    padding-left: 0;
  }
 
  .custom-card-designation {
    font-size: 14px; 
    font-weight: 400;
  }

  .custom-card-h2 {
    font-size: 12px;
  }

  .custom-card-d2 {
    font-size: 12px;
  }

  /* .menu-card-title {
    font-size: 12px;
  }

  .menu-card-image {
    max-height: 90px;
    max-width: 50px;
  }

  .menu-card-box {
     height: 90%;
    width: 80%; 
  }
  .menu-card-container{
    height: 50%; 
    width: 50%;  
    margin: 0;
    padding: 0;  
  }
  .menu-cards-row{
    width: 80vw;
    height: 20vh;
  } */
  .menu-card-title {
    font-size: 13px;
  }
  .menu-cards-row {
    margin-top: 0;
  }
  
  .menu-card-container {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12vh;
  }
  
  .menu-card-box {
   
     height: 11vh;
     width: 7vw;
  }
  .menu-card-image {
    max-height: 82px;
    max-width: 45px;
  }
}
/* CSS code for max width 1200px (Extra-large screens) */