@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap");
/* body{

  font-family: Outfit;

} */
/* Media query for mobile screens */
.clicktext{
  color: #0074FC;
}
.clicktext:hover{
  color:#0074FC;
  transform: scale(1.1);
  text-shadow: 1px 1px #0074FC;
}
.clickHere:hover{
  transform: scale(1.1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .container{
    width: 80vw;
    height: 60vh; 
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #205072;
    background: #FFF;
    box-shadow: 0px 0px 3px 3px #0074FC;
    margin-top: 20vh;
    margin-left: 15vw;
    margin-right: 15vw;
    position: relative;
    display: flexbox;
    
    }

    h1{
        color: #205072;
    text-align: center;
    font-family: Outfit;
    font-size: 3vw;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-top:10vh;
       
    
    }

    .imgsize{
        width: 10vw;
    height: 10vw;
    align-content: flex-start;
    margin-left: 1vw;    
    margin-top:8vh;
    /* background: lightgray 50% / cover no-repeat; */
    }

    .certilogo{
        width: 8vw;
    height: 8vw;
    align-content: flex-end;
    background: lightgray 50% / cover no-repeat;
    /* align-items: flex-end;   */
    position: absolute; 
    margin-top: 8vh;
    margin-left: 5vw;
    
    }
    .clicktext{
      color: #0074FC;
    }
    .clickHere{
      
      height: 2vh;
      width: 2.5vw;
    }
    
    .line {
        width: 101%; /* Adjust the width as needed */
        height: 0.1%; /* Adjust the height as needed */
        background: rgba(51, 54, 63, 0.60);
        margin-top: -2vh;

    }
    .table-container {
      width: 100%;
      overflow-x: auto;
    }

    .table {
        margin-left: 0vw;
        margin-right: 1vw;
        border-collapse: collapse;
        border-radius: 10px 10px 0px 0px;
        overflow: hidden;
        /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
        align-items: center;
        border: #205072;
        height: 10%;
        width: 100%;
        white-space: nowrap;
      }
      
      th, td {
        /* padding: 10px; */
        border: 1px solid #ccc;
       
text-align: center;
font-family: Outfit;
font-weight: 500;
line-height: normal;
border: 1px solid #205072;
background: #FFF;
padding: 10px;
      }

      .logo{
        height: 35%;
        width: 39%;
      }
      td{
        color: #38A3A5;
text-align: center;
font-family: Outfit;
font-size: 10px;
font-style: normal;
font-weight: bold;
line-height: normal;



      }
      
      th {
        background: #FFF;;
        font-weight: bold;
        color: #205072;
        font-size: 14px;
        /* padding: 2%; */
      }
      
            
      tr:hover {
        background-color: gray;
      }
      /* .tableicon{
        width: 60px;
height: 28.171px;
flex-shrink: 0;

      } */
      .btncross{
        right: 1vw;
        position: absolute;  
        top: 1vw;   
        cursor: pointer;   
        height: 1.5vh;
      width: 1.95vw;
      }
  
    
  }
 
   /* For screens with a minimum width of 1025 pixels and larger (Laptop screens) */
  @media (min-width: 1025px){

    .container{
        width: 60vw;
    height: 90vh;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #205072;
    background: #FFF;
    box-shadow: 0px 0px 3px 3px #0074FC;
    margin-top: 5vh;
    margin-bottom: 10vh;
    margin-left: 20vw;
    position: fixed;
    display: flexbox;
    }

    
    h1{
        color: #205072;
    text-align: center;
    font-family: Outfit;
    font-size: 2vw;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-top:18vh;
      
    
    }

    .imgsize{
        width: 8vw;
    height: 8vw;
    border-radius: 100px;
    /* border: 1px solid #38A3A5; */
    margin-left: 1vw;
    align-content: flex-start;
    margin-top:11vh;
    /* background: lightgray 50% / cover no-repeat; */
    }

    .certilogo{
        width: 7vw;
    height: 7vw;
    background: lightgray 50% / cover no-repeat;
    align-items: flex-end;  
    position: absolute;
    margin-top: 12vh;
    margin-left: 5vw;
    /*margin-left: 40vw; */
    }
    
    
    .line {
        width: 100%; /* Adjust the width as needed */
        height: 0.1vh; /* Adjust the height as needed */
        background: rgba(51, 54, 63, 0.60);
        margin-top: -2vh;
    }
    
    .table {
        margin-left: 3vw;
        margin-right: 3vw;
        border-collapse: collapse;
        border-radius: 10px 10px 0px 0px;
        overflow: hidden;
        /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
        align-items: center;
        border: #205072;
        height: 10%;
        width: 90%;
        white-space: nowrap;
      }
      
      
      th, td {
        /* padding: 20px; */
        border: 1px solid #ccc;
        color: #205072;
text-align: center;
font-family: Outfit;
/* font-size: 1vw; */
font-style: normal;
font-weight: 500;
line-height: normal;
border: 1px solid #205072;
background: #FFF;
padding: 10px;

      }

      td{
        color: #38A3A5;
text-align: center;
font-family: Outfit;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
      }
      
      th {
        background: #FFF;;
        font-weight: bold;
        /* padding: 2%; */
        font-size: 20px;
      }
      
     
      
      tr:hover {
        background-color: #f9f9f9;
      }
      /* .tableicon{
        width: 60px;
height: 28.171px;
flex-shrink: 0;

      } */
      .btncross{
        right: 0.5vw;
        position: absolute;  
        top: 0.5vw;   
        cursor: pointer; 
        height: 2.25%;
        width: 2%;  
      }

    
  }

  @media (min-width: 1025px) and (max-width: 1200px){
  .table-container {
    width: 100%;
    overflow-x: auto;
  }
}
  @media (min-width: 1400px) and (max-width: 1800px){
    .btncross{
      right: 0.5vw;
      position: absolute;  
      top: 0.5vw;   
      cursor: pointer; 
      height: 1.75vh;
      width: 1vw;  
    }
  }
  
  /* Media query for tablet screens */
  @media (min-width: 769px) and (max-width: 1024px) {
    .container{
    flex-shrink: 0;
    border-radius: 10px ;
    border: 1px solid #205072;
    background: #FFF;
    box-shadow: 0px 0px 3px 3px #0074FC;
    height: 70vh;
    width: 90vw;
    margin-left: 6vw;
    position: fixed;
    margin-top: 5vh;
    
    }

    h1{
        color: #205072;
    text-align: center;
    font-family: Outfit;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-top:19vh;
    
    }

    .imgsize{
        width: 10vw;
    height: 10vw;
    margin-left: 2vw;
    align-content: flex-start;
    margin-top:12vh;
    /* background: lightgray 50% / cover no-repeat; */
    }

    .certilogo{
        width: 9vw;
    height: 9vw;
    flex-shrink: 0;
    background: lightgray 50% / cover no-repeat;
    align-items: flex-end;  
    position: absolute;
    margin-top: 14vh;
    margin-left: 5vw;
    border: 0;
    }
    
    
    .line {
        width: 100%; /* Adjust the width as needed */
        height: 0.1%; /* Adjust the height as needed */
        background: rgba(51, 54, 63, 0.60);
        margin-top: -2vh;

    }
    
    .table {
        margin-left: 4vw;
        margin-right: 4vw;
        border-collapse: collapse;
        border-radius: 10px 10px 0px 0px;
        overflow: hidden;
        /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
        align-items: center;
        border: #205072;
        height: 10%;
        width: 90%;
        white-space: nowrap;
      }
      
      .logo{
        height: 5vw ;
        width: 8vw;
      }
      
      th, td {
        /* padding: 10px; */
        border: 1px solid #ccc;
        
text-align: center;
font-family: Outfit;
/* font-size: 2vw; */
font-style: normal;
font-weight: 500;
line-height: normal;
border: 1px solid #205072;
background: #FFF;
padding: 10px;

      }

      td{
        color: #38A3A5;
text-align: center;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
      }
      
      th {
        background: #FFF;;
        font-weight: bold;
        color: #205072;
        /* padding: 2%; */
        font-size: 20px;
      }
      
    
      
      tr:hover {
        background-color: #f9f9f9;
      }
      /* .tableicon{
        width: 60px;
height: 28.171px;
flex-shrink: 0;

      } */
      .btncross{
        right: 1vw;
        position: absolute;  
        top: 1vw;   
        cursor: pointer; 
        height: 2vh;
        width: 1.75vw;  
      }
    
  } 

  @media (min-width: 2281px){
    .container {
      width: 55vw;
      height: 70vh;
      flex-shrink: 0;
      border-radius: 10px 10px 10px 10px;
      border: 1px solid #205072;
      background: #FFF;
      box-shadow: 0px 0px 3px 3px #0074FC;
      margin-top: 15vh;
      margin-bottom: 5vh;
      margin-left: 30vw;
      margin-right: 20vw;
      position: relative;
      
    }
  
    h1 {
      
      color: #205072;
      text-align: center;
      font-family: Outfit;
      font-size: 2vw;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      margin-top:15vh;
    }
  
    .imgsize {
      width: 5vw;
      height: 5vw;
      margin-left: 1vw;
      align-content: flex-start;
      margin-top:14vh;
     }
  
    .certilogo {
      width: 5vw;
      height: 5vw;
      background: lightgray 50% / cover no-repeat;
      /* align-items: flex-end; */
      position: absolute;
      align-content: flex-end;
      margin-top: 14vh;
    margin-left: 5vw;
    }
  
    .line {
     
      width: 101%;
      height: 0.1%;
      background: rgba(51, 54, 63, 0.60);
    }
  
    .table {
     
      margin-left: 3vw;
      margin-right: 10vw;
      border-collapse: collapse;
      border-radius: 10px 10px 0px 0px;
      overflow: hidden;
      /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
      align-items: center;
      border: #205072;
      height: 10%;
      width: 90%;
      white-space: nowrap;
    }
  
   
     th, td {
      /* padding: 20px; */
      border: 1px solid #ccc;
      color: #205072;
  text-align: center;
  font-family: Outfit;
  /* font-size: 20px; */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid #205072;
background: #FFF;
padding: 10px;
    }
  
    td{
      color: #38A3A5;
  text-align: center;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
    }
    
    th {
      background-color: #fff;
      font-weight: bold;
      /* padding: 2%; */
      font-size: 24px;
    }
    
    
    
    tr:hover {
      background-color: #f9f9f9;
    }
   
    .btncross{
      right: 10px;
      position: absolute;  
      top: 10px;   
      cursor: pointer;   
      height: 2vh;
      width: 1vw;
    }
  
    /* You can also add any other styles or adjustments for larger screens here*/
    
  }
  