<div class="container">
  <div>

  <div class="row">
    <div class="col-3">
      <img class="imgsize" src="assets/images/Ellipse 48.png">
    </div>
    <div class="col-6">
      <h1 >Certifications</h1>
    </div>
    <div class="col-3">
      <img class="certilogo" src="assets/images/certification_logo.png">
    </div>
  </div>
    
    
    
    
    
    <div  ><img class="btncross" src="assets/images/btn_close.png"></div>
    <br>
    <div class="line"></div><br>
    <div class="table-container">
    <table class="table table-bordered">
        <tr>
          <th>Date</th>
          <th>Certification Name</th>
          <th>Cost(₹)</th>
          <th>Link</th>
        </tr>
        <tr>
          <td>16-Mar-2023</td>
          <td>
            <img class="logo" src="assets/images/download 3.png">ITIL v4 Certified</td>
          <td>₹15,500</td>
          <td><a href=".." class="clicktext no-underline">Click here to open<img class="clickHere" src="assets/images/External Link.jpg"></a></td>
        </tr>
        
      </table>
    </div>
  </div>
 </div> 
