<div class="d-flex">
    <div class="sideBar"></div>
    <div class="page g-2">
        <div class="navBar d-flex justify-content-between"></div>
        <div class="titleBar d-flex justify-content-between px-2">
            <div class="d-flex m-1 p-2 justify-content-lg-start border-bottom"
                style="width: 100%;">
                <button class="back"><img class="arrow"
                        src="../../../../assets/interview/Arrow back.png">
                </button>
                <p class="title">Interview</p>
            </div>
            <div class="d-flex p-2 justify-content-end">
                <img src="../../../../assets/interview/544532 1.png">
            </div>
        </div>
        <div
            class="searchBar d-flex mx-2 mt-2 px-5 justify-content-between border-bottom">
            <div
                class="d-flex row center p-2 justify-content-between ">
                <form class="d-flex justify-content-lg-start mb-1">
                    <input class="form-control border-0 text-center"
                        type="search"
                        placeholder="Search a candidate"
                        style="width: max-content;" aria-label="Search">
                    <button class="btn btn-outline-success text-end"
                        style="background: none; border:0;"><img
                            src="../../../../assets/interview/search.png"></button>
                </form>
                <hr style="width:300px;">
            </div>
            <div class="d-flex p-2 mt-2 justify-content-end center">
                <img src="../../../../assets/interview/filter.png"
                    style="width:20px; height:30px">
            </div>
        </div>
        <div class="table-responsive rounded center px-5 m-2 pt-2">
            <table class="table table-bordered table-hover">
                <thead class="text-center">
                    <tr>
                        <th>Candidate Name</th>
                        <th>Email</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Last Update</th>
                    </tr>
                </thead>
                <!-- ... your existing HTML code ... -->

                <tbody class="text-center">
                    <tr *ngFor="let cv of interviewRec">
                        <td><div class="d-flex center-content">
                                <button class="status">
                                    <img class="profImg"
                                        src="../../../../assets/awards-images/awards.png">
                                    {{ cv.Candidate_Name }}
                                </button>
                            </div></td>
                        <td><button class="status">{{ cv.Email }}</button></td>
                        <td><button class="status">{{ cv.Category }}</button></td>
                        <td>
                            <button class="status"
                                [style.color]="getStatusColor(cv.Status)">
                                {{ cv.Status }}
                            </button>
                        </td>
                        <td><button class="status">{{ cv.Last_Update }}</button></td>
                    </tr>
                </tbody>

                <!-- ... your existing HTML code ... -->

            </table>
        </div>
        <div class="d-flex mx-5 mt-2 justify-content-end">
            <p class="text-end" *ngIf="interviewRec">Page 1 - Showing results
                {{interviewRec.length}}
                out
                of {{interviewRec.length}}</p>
        </div>
        <br>
        <br>
        <div class="d-flex mx-5 mt-2 justify-content-end">
            <img class="text-left" src="../../../../assets/interview/notes.png"
                alt="notes">
        </div>
        <br>
        <div class="d-flex mx-5 mt-2 justify-content-end">
            <img src="../../../../assets/interview/logo.png" alt="logo">
        </div>
    </div>
</div>