.status {
  border: none;
  background: none;
  color: #33363f99;
  font-weight: var(--font-weight-bold);
}

.profImg {
  height: 30px;
  width: 30px;
  padding: 2px;
  border-radius: 50%;
  border: 1px solid var(--accent-color);
  margin-right: 15px;
}

.table-responsive.rounded {
  top: 2vh;
  width: 100vw;
  position: relative;
  width: 80vw;
  left: 6vw;
  padding-right: 5px;
  padding-left: 2px;
}

.table-bordered {
  border: 1px solid var(--accent-color);
  font-size: 12px;
}

tr {
  height: 25px;
}

.table-bordered th {
  border: 1px solid var(--accent-color);
}

tr:hover td {
  cursor: var(--interview-table-hover-cursor);
  border: 1px solid var(--interview-table-hover-color);
  box-shadow: var(--interview-table-hover-box-shadow);
}
tr:hover td:first-child {
  cursor: var(--interview-table-hover-cursor);
  border: 1px solid var(--interview-table-hover-color);
  box-shadow: var(--interview-table-hover-box-shadow);
}
tr:hover td:last-child {
  cursor: var(--interview-table-hover-cursor);
  border: 1px solid var(--interview-table-hover-color);
  box-shadow: var(--interview-table-hover-box-shadow);
}
tr:hover td:after {
  cursor: var(--interview-table-hover-cursor);
  content: "";
  width: 5px;
  height: 100%;
  background-color: #f5f8fb;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

table.table tr th {
  color: var(--accent-color);
  background-color: rgba(0, 240, 255, 0.1);
}

body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

.container {
  position: relative;
  top: 10px;
}

.icon1 {
  width: 1.75rem;
  height: 1.75rem;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.icon2 {
  margin-left: 40px;
}

.filterExport {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 120px;
}

.icon2 {
  width: 1.5rem;
  height: 1.5rem;
}

.company-logo {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 16px;
  margin-bottom: 2px;
}
.mp {
  padding-right: 120px;
}

.mat-mdc-paginator-container {
  bottom: 0;
  background-color: white;
  z-index: 3;
}

@media (min-width: 1000px) and (max-width: 1500px) {
  .page-heading1 {
    font-size: 1.25rem;
    left: 3.5rem;
    top: -3px;
  }
  th,
  td {
    font-size: 0.7rem;
  }
  .arrow-back-icon {
    width: 2rem;
    height: 2rem;
  }
  .btn-all-employees-icon {
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  .page-heading1 {
    font-size: 1rem;
    left: 3rem;
    top: -5px;
  }
  .arrow-back-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .btn-all-employees-icon {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 700px) {
  .page-heading1 {
    font-size: 0.8rem;
    left: 2rem;
    top: -10px;
  }

  .arrow-back-icon {
    width: 1rem;
    height: 1rem;
  }

  .btn-all-employees-icon {
    height: 25px;
    width: 25px;
  }
}
