<div class="page-sub-header">
    <div class="page-heading">
        <img class="arrow-back-icon" alt
            src="../../../../assets/interview/Arrow back.png">
        <div class="page-heading1">Interview</div>
    </div>
    <div class="line"></div>
    <img class="btn-all-employees-icon" alt
        src="../../../../assets/interview/544532 1.png">
</div>

<div class="parent-container">

    <div class="row align-items-center">
        <div class="col text-left">
            <div class="searchCandidate">
                <div class="search-container">
                    <input
                        type="text"
                        [(ngModel)]="searchTerm"
                        (input)="applyFilter()"
                        placeholder="Search a Candidate"
                        class="search-input" />
                </div>
                <img class="icon" alt
                    src="../../../../assets/interview/search.png">
            </div>
        </div>
        <div class="col text-right">
            <div class="filterExport">
                <a href="#"><img class="icon2" alt
                        src="../../../../assets/interview/filter.png"></a>
            </div>
        </div>
    </div>

    <div class="line-div-container">
        <div class="line-div">
        </div>
    </div>

    <div class="table-responsive rounded center px-5 m-2 pt-2">
        <table
            class="table table-bordered table-hover">
            <thead class="text-center">
                <tr>
                    <th>Candidate Name</th>
                    <th>Email</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Last Update</th>
                </tr>
            </thead>
            <!-- ... your existing HTML code ... -->

            <tbody class="text-center">
                <tr *ngFor="let cv of interviewRec">
                    <td><div class="d-flex center-content">
                            <button class="status">
                                <img class="profImg"
                                    src="../../../../assets/awards-images/awards.png">
                                {{ cv.Candidate_Name }}
                            </button>
                        </div></td>
                    <td><button class="status">{{ cv.Email }}</button></td>
                    <td><button class="status">{{ cv.Category }}</button></td>
                    <td>
                        <button class="status"
                            [style.color]="getStatusColor(cv.Status)">
                            {{ cv.Status }}
                        </button>
                    </td>
                    <td><button class="status">{{ cv.Last_Update }}</button></td>
                </tr>
            </tbody>

            <!-- ... your existing HTML code ... -->

        </table>
    </div>

    <div class="mp">
        <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
            [pageIndex]="pageIndex" [length]="totalItems"
            (page)="onPageChange($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>

<span class="company-logo">