<!-- <a class="scratchbutton" (click)="OpenScratch('1000ms', '500ms')">
  <img src="assets/images/maybe.png">
</a> -->

<nav id="sidebar">

  <div class="hero-con">
    <div class="sidebar-header">
      <img src="assets/images/sidelogo.png" alt="Sidebarlogo">
    </div>
    <ul class="list-unstyled components">
      <li>
        <a routerLink="employee/dashboard">
          <img src="assets/images/home.png" alt="HomeScreen">
          <div class="image-name homescreen">HomeScreen</div>
        </a>
      </li>
      <li>
        <a routerLink="employee/employees">
          <img src="assets/images/employee.png" alt="All Employees">
          <div class="image-name ">
            <div class= "employees">Employees</div>
          </div>
        </a>
      </li>
      <li>
        <a>
          <img src="assets/images/charts.png" alt="Charts">
          <div class="image-name">Charts</div>
        </a>
      </li>
      <li>
        <a routerLink="employee/interviews">
          <img src="assets/images/interview.png" alt="Interviews">
          <div class="image-name">
            <div class = "interviews">Interviews</div>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="manager/open-positions">
          <img src="assets/images/hiring.png" alt="Open Positions">
          <div class="image-name">Open Positions</div>
        </a>
      </li>
      <li>
        <a class="event">
          <img src="assets/images/events.png" alt="Events">
          <div class="image-name">Events</div>
        </a>
      </li>

      <li>
        <a>
          <img src="assets/images/setting.png" alt="Setting">
          <div class="image-name">Settings</div>
        </a>
      </li>
    </ul>
  </div>

</nav>
