body{
    margin: 0px;
    padding: 0px;
}
#sidebar {
    padding: 0px;
    margin: 0px;
    margin-bottom: -20px;
    height: 100vh ;
    width: 81px;
    background: #082737;
    text-align: center;
  overflow: visible;

  }

  .hero-con{
    overflow:visible;
  }
 #sidebar .sidebar-header{
    
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 30px;
 }
 #sidebar ul.components li a img {
    display: block;
    
    margin: 0 auto; /* Center the images horizontally */
 
  }
  #sidebar .sidebar-header img {
    width: 40px;
    height: 40px;
    
  }

  

  
  #sidebar ul li a {
    color: white;
    
    display: block;
  }
  
.container {
  position: absolute;
  display: inline-block;
  overflow:visible;
}

#sidebar ul.components li {
    position: relative;
    padding: 3%;
  }
  
  #sidebar ul.components li a img {
    width: 30px; /* Adjust the width as per your requirement */
    height: 30px; /* Adjust the height as per your requirement */
    transition: transform 0.3s ease; /* Apply a transition for smooth animation */
    box-shadow: #00070b; /* Add a subtle shadow */
    transform: perspective(800px) scale(1) rotateX(0deg); /* Set the initial perspective and rotation */
      
  }
  
  #sidebar ul.components li .image-name {
    position: relative;
    
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #082737;
    padding: 8px;
    opacity: 0;
    pointer-events: none; /* This prevents the name from being clickable */
    transition: opacity 0.3s ease;
    font-size: 10px;
  }
  #sidebar ul.components li a:hover img {
    transform: perspective(6.5cm) scale(1.2) rotateX(10deg); /* Increase the image size by 20% on hovering */
  }
  #sidebar ul.components li:hover .image-name {
    opacity: 1;
    
  }
  @media (max-width: 767px) {
    #sidebar {
      width: 40px; /* Adjust the width for mobile devices */
    }
  
    #sidebar ul.components li a img {
      width: 24px; /* Adjust the image width for mobile devices */
      height: 24px; /* Adjust the image height for mobile devices */
    }
    #sidebar ul.components li {
      display: relative;
      
      padding: 10%;
   
    }
    #sidebar ul.components li .image-name {
      font-size: 9px; /* Adjust the font size for mobile devices */
      padding: 6px; /* Adjust the padding for mobile devices */
    }
    #sidebar ul.components li .image-name {
      position: relative;
      top: 50%;
      left: calc(100% + 10px);
      width: auto;
      
      color: white;
      transform: translate(-30%, -170%);
      border-radius: 5px;
      background-color: rgba(8, 39, 55, 0.6);
      padding: 4px;
      opacity: 0;
      pointer-events: none; /* This prevents the name from being clickable */
      transition: opacity 0.3s ease;
      font-size: 10px;
      z-index: 1;
      display: inline-block;
    }
   
    #sidebar ul.components li a:hover img {
      transform: perspective(6.5cm) scale(1.3) rotateX(10deg); /* Increase the image size by 20% on hovering */
    }
    
  }
  @media screen and (min-width: 768px) and (max-width: 1250px) {
    #sidebar {
      padding: 0px;
      margin: 0px;
      height: 100vh ;
      width: 81px;
      background: #082737;
      text-align: center;
   
  
    }
  
    .hero-con{
      overflow: hidden;
    }
   #sidebar .sidebar-header{
      
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 2px solid white;
      margin-bottom: 25px;
   }
   #sidebar ul.components li {
    display: block;
   
 
  }
   #sidebar ul.components li a img {
      display: block;
      
      margin: 0 auto; /* Center the images horizontally */
   
    }
    #sidebar .sidebar-header img {
      width: 35px;
      height: 35px;
      
    }
  
    
  
    
    #sidebar ul li a {
      color: white;
      
      display: block;
    }
    
  .container {
    position: relative;
    display: inline-block;
  }
  
  #sidebar ul.components li {
      position: relative;
     
    }
    
    #sidebar ul.components li a img {
      width: 27px; /* Adjust the width as per your requirement */
      height: 27px; /* Adjust the height as per your requirement */
      transition: transform 0.3s ease; /* Apply a transition for smooth animation */
      box-shadow: #00070b; /* Add a subtle shadow */
      transform: perspective(800px) scale(1) rotateX(0deg); /* Set the initial perspective and rotation */
        
    }
    
    #sidebar ul.components li .image-name {
      position: relative;
      
      left: 0;
      width: 100%;
      text-align: center;
      color: white;
      background-color: #082737;
      padding: 4px;
      opacity: 0;
      pointer-events: none; /* This prevents the name from being clickable */
      transition: opacity 0.3s ease;
      font-size: 9px;
    }
    #sidebar ul.components li a:hover img {
      transform: perspective(6.5cm) scale(1.2) rotateX(10deg); /* Increase the image size by 20% on hovering */
    }
    #sidebar ul.components li:hover .image-name {
      opacity: 1;
      
    }
  
  }