
<a class="scratchbutton" (click)="OpenScratch('1000ms', '500ms')">
  <img src ="assets/images/maybe.png" >
</a>

<nav id="sidebar">
  
    <div class="hero-con">
        <div class="sidebar-header">
            <img src="assets/images/sidelogo.png" alt="Sidebarlogo">
        </div>
        <ul class="list-unstyled components">
          <li>
            <a href="#" >
              <img src="assets/images/home.png" alt="HomeScreen" title="HomeScreen Tooltip">
              <div class="image-name">HomeScreen</div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/images/employee.png" alt="All Employees">
              <div class="image-name">Employees</div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/images/charts.png" alt="Charts">
              <div class="image-name">Charts</div>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/images/interview.png" alt="Interviews">
              <div class="image-name">Interviews</div>
            </a>
          </li>
          <li>
                <a href="#">
                  <img src="assets/images/hiring.png" alt="Open Positions">
                  <div class="image-name">OpenPositions</div>
                </a>
            </li>
            <li>
            <a href="#">
              <img src="assets/images/events.png" alt="Events">
              <div class="image-name">Events</div>
            </a>
          </li>
          
          <li>
            <a href="#">
              <img src="assets/images/setting.png" alt="Setting">
              <div class="image-name">Settings</div>
            </a>
          </li>
        </ul>
    </div>
    
  </nav>
