<p>openpos works!</p>
<a class="nav-link" href="#">
    <img src="assets/openpos/Page Sub Header.png" alt="Button 3" >
</a>
<button class="btn">Add New Opening</button>
    <!-- Notification icon -->
    <div class="act">
    <p class="active" (click)="showActiveTable = true"  style="width:400px;height:40px;padding:15px 20px 15px 20px;Gap:10px" >Active</p>
    <p class="cl" (click)="showActiveTable = false" style="width:400px;height:10px;padding:15px,20px,15px,20px;Gap:10px">Closed</p>
    </div>
    <img src="assets/openpos/lineimage.png" alt="Button 3"  class="imgbut">
  

  <table class="styled-table" *ngIf="showActiveTable">
    <div class="design">
      <tbody>
    <tr>
    
      <th style="color:#205072; background-color: #3DE50233;"  class="header-cell">Priority</th>
      <th style="color:#205072;background-color: #3DE50233"  class="header-cell">Role</th>
      <th style="color:#205072;background-color: #3DE50233"  class="header-cell">Council</th>
      <th style="color:#205072;background-color: #3DE50233"  class="header-cell">Skills Required</th>
      <th style="color:#205072;background-color: #3DE50233"  class="header-cell">Experience</th>
      <th style="color:#205072;background-color: #3DE50233" class="header-cell">Count</th>
      <th style="color:#205072;background-color: #3DE50233"  class="header-cell">Action</th>
    
    </tr>
    <tr>
      <td  class="data-cell"><img src="assets/openpos/high priority.png" alt="Button 3"></td>
      <td style="color: #33363F99;
      ;font-weight:500" class="data-cell">Data Analyst</td>
      <td style="color:#33363F99;font-weight:500" class="data-cell">Engineering</td>
      <td style="color:#33363F99;font-weight:500" class="data-cell">Python,AWS,SQL,Linux,Data Modeling</td>
      <td style="color:#33363F99;font-weight:500" class="data-cell">2-5 years</td>
      <td style="color:#33363F99;font-weight:500" class="data-cell">2</td>
      <td class="data-cell"><img src="assets/openpos/open.png" alt="Button 3" class="icon"><img src="assets/openpos/edit_pencil_button.png" alt="Button 3" class="icon"><img src="assets/openpos/delete.png" alt="Button 3" class="icon"></td>
    </tr>
    <tr>
      <td  class="data-cell"><img src="assets/openpos/mediumperiority.png" alt="Button 3"></td>
      <td style="color:#33363F99;font-weight:500" class="data-cell">Data Analyst</td>
      <td style="color:#33363F99;font-weight:500" class="data-cell">Engineering</td>
      <td style="color:#33363F99;font-weight:500" class="data-cell">Python,AWS,SQL,Linux,Data Modeling</td>
      <td style="color:#33363F99;font-weight:500" class="data-cell">2-5 years</td>
      <td style="color:#33363F99;font-weight:500" class="data-cell">2</td>
      <td class="data-cell"><img src="assets/openpos/open.png" alt="Button 3" class="icon"><img src="assets/openpos/edit_pencil_button.png" alt="Button 3" class="icon"><img src="assets/openpos/delete.png" alt="Button 3" class="icon"></td>
    </tr>
    <tr>
      <td  class="data-cell"><img src="assets/openpos/lowpriority.png" alt="Button 3"></td>
      <td style="color:#33363F99;font-weight:500" class="data-cell">Data Analyst</td>
      <td style="color:#33363F99;font-weight:500" class="data-cell">Engineering</td>
      <td style="color:#33363F99;font-weight:500" class="data-cell">Python,AWS,SQL,Linux,Data Modeling</td>
      <td style="color:#33363F99;font-weight:500" class="data-cell">2-5 years</td>
      <td style="color:#33363F99;font-weight:500" class="data-cell">2</td>
      <td class="data-cell"><img src="assets/openpos/open.png" alt="Button 3" class="icon"><img src="assets/openpos/edit_pencil_button.png" alt="Button 3" class="icon"><img src="assets/openpos/delete.png" alt="Button 3"class=icon></td>
    </tr>
    </tbody>
    </div>
  </table>




<div style="margin-top:100px;">
  
  
    
  <div class="table-container">
    <table class="tab" *ngIf="!showActiveTable">
      <div class="design">
        <tbody>
      <tr>
      
        <th style="color:#205072; background-color:  rgba(255, 0, 0, 0.1)"  class="header-cell">Priority</th>
        <th style="color:#205072;background-color:  rgba(255, 0, 0, 0.1)"  class="header-cell">Role</th>
        <th style="color:#205072;background-color:  rgba(255, 0, 0, 0.1)"  class="header-cell">Council</th>
        <th style="color:#205072;background-color:  rgba(255, 0, 0, 0.1)"  class="header-cell">Skills Required</th>
        <th style="color:#205072;background-color:  rgba(255, 0, 0, 0.1)"  class="header-cell">Experience</th>
        <th style="color:#205072;background-color:  rgba(255, 0, 0, 0.1)" class="header-cell">Count</th>
        <th style="color:#205072;background-color:  rgba(255, 0, 0, 0.1)" class="header-cell">Status</th>
        <th style="color:#205072;background-color:  rgba(255, 0, 0, 0.1)"  class="header-cell">Action</th>
      
      </tr>
      <tr>
        <td  class="data-cell"><img src="assets/openpos/high priority.png" alt="Button 3"></td>
        <td style="color: #33363F99;
        ;font-weight:500" class="data-cell">Data Analyst</td>
        <td style="color:
        #E50255;font-weight:500" class="data-cell">Engineering</td>
        <td style="color:#33363F99;font-weight:500" class="data-cell">Python,AWS,SQL,Linux</td>
        <td style="color:#33363F99;font-weight:500" class="data-cell">2-5 years</td>
        <td style="color:#33363F99;font-weight:500" class="data-cell">2</td>
        <td style="color:#00AC2B;font-weight:500" class="data-cell">Completed</td>
        <td class="data-cell"><img src="assets/openpos/open.png" alt="Button 3" class="icon"></td>
      </tr>
      </tbody>
      </div>
      </table>
      </div>
      

</div>

