@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap");

body{
  font-family: Outfit;
}
.cross{
  position: absolute;
  top: -1px;
  right: -10px;
  cursor: pointer;
  font-size: 20px;
  color: #999;
  display: flex;
width: 20px;
height: 20px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.popup{
 
  width: 90vw;
     height: 45vw; 
     margin-right: 5vw;
     margin-left: 5vw;
     padding: 1vw 0.25vw 0.5vw 0.25vw;
     margin-top: 0.1vw;
     bottom: 1vw;
     border-radius: 10px;
     border: 1px solid #205072;
     background: #FFF;
     box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.50);
        overflow: hidden;
        position: fixed;
 }
 .card {
   margin-top: 20px;
 }
 
 .card-header{
   border-radius: 5px 5px 0px 0px;
 background: rgba(255, 0, 0, 0.10);
 box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
 height: 7vh;
 }
 
 .division{
   border: 1px;
 }
 
 .card-body{
 overflow: hidden;
 color: rgba(51, 54, 63, 0.80);
 text-overflow: ellipsis;
 font-family: Outfit;
 font-size: 12px;
 font-style: normal;
 font-weight: bold;
 line-height: normal;
 letter-spacing: 0.8px;
 }
 
 .remark-icon{
  margin-left: 1vw;
 /* margin-right: 9vw; */
  width: 17vw;
 }
 
 .card-info{
   color: #082737;
 font-family: Outfit;
 font-size: 14px;
 font-style: normal;
 font-weight: bold;
 line-height: normal;
 letter-spacing: 1px;
 }
 
 .task1{
   font-family: Outfit;
   color: #205072;
   font-weight: bold;
 }
 
 .task{
   color: #E50255;
 }
 
 .head{
   color: #082737;
 font-family: Outfit;
 font-size: 16px;
 font-style: normal;
 font-weight: 600;
 line-height: normal;
 letter-spacing: 0.9px;
 }
 
 
 .img-fluid {
   max-height: 80px;
   max-width: 25px;
 }
 
 .text-img {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .custom-card-title {
   color: #082737;
   font-family: Outfit;
   font-size: 30px;
   font-style: normal;
   font-weight: 200;
   line-height: normal;
 }
 
 .custom-card-designation {
   color: rgba(8, 39, 55, 0.50);
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
 }
 
 .custom-card-h2 {
   color: #38A3A5;
   font-family: Outfit;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
 }
 
 .custom-card-d2 {
   color: #205072;
 font-family: Outfit;
 font-size: 14px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 }
 
 .custom-card-workStatus {
   color: #FD9536;
 text-align: center;
 font-family: Outfit;
 font-size: 12px;
 font-style: normal;
 font-weight: bold;
 line-height: normal;
 }
 
 
 /*  awrds, certifications, etc cards  */
 
 .menu-cards-row {
   margin-top: 8vh;
 }
 
 .menu-card-container {
   display: grid;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 .menu-card-box {
   border-radius: 5px;
   border: 1px solid #38A3A5;
   background: #FFF;
   box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
   /* padding: 1vw 3vw 1vw 3vw; */
   width: fit-content;
   cursor: pointer;
   display: flex;
   padding: 0.7vw 1.7vw 0.7vw 1.7vw;
    height: 10vh;
    width: 6vw;
 }
 
 .info{
   color: #205072;
 text-align: center;
 font-family: Outfit;
 font-size: 12px;
 font-style: normal;
 font-weight: bold;
 line-height: normal;
 
 }
 .email{
   overflow: hidden;
 text-overflow: ellipsis; 
 }
 .menu-card-image {
   /* height: 90px;
   width: 90px; */
 }
 .menu-card-container{
   height: 15vh;
 }
 .menu-card-box{
  /* padding: 0.7vw 1.7vw 0.7vw 1.7vw;
  height: 10vh;
  width: 6vw; */
 }
 .menu-cards-row{
   margin-top: 0;
   
 }
 
 .menu-card-title {
   color: #082737;
   font-family: Outfit;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
 }
 
 .container-fluid {
   position: relative;
   display: grid;
 }
 
 .company-logo {
   position: fixed;
   bottom: 0vh;
   right: 1.4vw;
   z-index: 9999;
 }
 
 .image-container {
   width: 130px;
   height: 130px;
   border-radius: 50%;
   overflow: hidden;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
 }
 
 .circular-wrapper {
   width: 100%;
   height: 100%;
   border: 3px solid #38A3A5;
   border-radius: 50%;
   overflow: hidden;
 }
 
 .circular-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transform: scale(1.1);
   filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
 }
 
 .personal-info-row{
   margin-top: 0rem;
 }
 
 .dashboard-container{
   padding: 0rem;
   margin: 0;
 }
 
 .image-outer-container{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding-right: 0;
 }
 

/* CSS code for max width 992px (Large screens) */
@media (max-width: 992px) {

  .popup{
 
    width: 90vw;
       height: 50vh; 
       margin-right: 5vw;
       margin-left: 5vw;
       margin-top: 10vw;
       top:5vh;
       padding: 1vw 0.25vw 0.5vw 0.25vw;
   }
   .image-container {
    width: 80px;
    height: 80px;
    
  }
  .custom-card-title {
    color: #082737;
    font-family: Outfit;
    font-size: 10px;
    font-style: normal;
    font-weight: 100;
    
  }
  .details{
    font-size: 12px;
  }
  .detaildc{
    height: 18vh;
    width: 21vw;
    margin-left: 0%;
  }
  .card-body{
    font-size: 9px;
  }
  .card-header{
    height: 4vh;
    
  }
  .card-info{
    font-size: 10px;
    font-weight: bold;
  }
  .imgskill{
    max-width: 20px;
    max-height: 20px;
    margin-left: 0;
    padding-left: 0;
  }
 
  .custom-card-designation {
    font-size: 10px; 
    font-weight: 400;
  }

  .custom-card-h2 {
    font-size: 12px;
  }

  .custom-card-d2 {
    font-size: 12px;
  }

  .menu-card-title {
    font-size: 12px;
  }

  .menu-card-image {
    /* height: 10px;
    width: 10px; */
  }

  .menu-card-box {
    /* padding: 0.7vw 1.7vw 0.7vw 1.7vw; */
    /* padding: 0.7vw 1.7vw 0.7vw 1.7vw;
    height: 10vh;
    width: 6vw; */
  }
  .menu-card-container{
    height: 9vh;
  }
  
  /* Add other styles for large screens here */
}

/* CSS code for max width 1200px (Extra-large screens) */
@media (max-width: 1200px) {
  .popup{
 
    width: 92vw;
       height: 70vh; 
       margin-right: 5vw;
       margin-left: 5vw;
       margin-top: 10vw;
       top:5vh;
       overflow: hidden;
       position: fixed;
       padding: 1vw 0.25vw 0.5vw 0.25vw;
   }
   .image-container {
    width: 80px;
    height: 80px;
    
  }
  .custom-card-designation{
    font-size: 12px;
    font-weight: 600;
  }
  .custom-card-title {
    color: #082737;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    
  }
  .details{
    font-size: 12px;
  }
  /* .detaildc{
    height: 18vh;
    width: 24vw;
    margin-left: 0%;
  } */
  .card-body{
    font-size: 12px;
    
  }
  .card-header{
    height: 6vh;
    
  }
  .info{
    font-size: 10px;
  }
  .card-info{
    font-size: 12px;
    font-weight: bold;
    
  }
  .acti{
    font-size: 10px;
    font-weight: 700px;
  }
  .imgskill{
    margin-left: 0;
    width: 25px;
    height: 20px;
    padding-left: 0;
  } 

  
  .custom-card-h2 {
    font-size: 12px;
  }

  .custom-card-d2 {
    font-size: 12px;
  }

  .menu-card-title {
    font-size: 14px;
    text-align: center;
  }

  .menu-card-image {
    /* height: 60px;
    width: 60px; */
  }

  .menu-card-box {
    /* padding: 0.7vw 1.7vw 0.7vw 1.7vw; */
    /* padding: 0.7vw 1.7vw 0.7vw 1.7vw;
    height: 10vh;
    width: 6vw; */
  }
  .menu-card-container{
    height: 9vh;
  }

  .remark-icon{
    margin-left: 1vw;
    height: 3vh;
   /* margin-right: 9vw; */
    width: 19vw;
    font-weight: 400px;
   }

  /* Add other styles for extra-large screens here */
}

 @media (max-width: 1700px){

  .remark-icon{
    margin-left: 7vw; 
    margin-right: 26vw;
    height: 9vh;
    width: 16vw;
    font-weight: 200px;
    margin-top: 2vw;
    overflow: hidden;
    position: fixed;
   }
  .popup{
 
    width: 82vw;
       height: 92vh; 
       margin-right: 10vw;
       margin-left: 8vw;
       margin-top: 1vh;
       padding: 1vw 0.25vw 0.5vw 0.25vw;
   }
   .image-container {
    width: 80px;
    height: 80px;
    
  }
  .custom-card-designation{
    font-size: 12px;
    font-weight: 600;
  }
  .custom-card-title {
    color: #082737;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    
  }
  .details{
    font-size: 12px;
  }
  
  .card-body{
    font-size: 12px;
  }
  .card-header{
    height: 7vh;
    
  }
  .info{
    font-size: 10px;
  }
  .card-info{
    font-size: 14px;
    font-weight: bold;
    
  }
  .acti{
    font-size: 14px;
    font-weight: 700px;
  }
  .imgskill{
    max-width: 500px;
    max-height: 500px;
    margin-left: 0;
    padding-left: 0;
  }
 
  
  .custom-card-h2 {
    font-size: 12px;
  }

  .custom-card-d2 {
    font-size: 12px;
  }

  .menu-card-title {
    font-size: 12px;
  }

  .menu-card-image {
    /* height: 80px;
    width: 80px; */

  }

  .menu-card-box {
     /* padding: 0.7vw 1.7vw 0.7vw 1.7vw;
    height: 11.5vh;
    width: 7vw; */
  }
  .menu-card-container{
    height: 12vh;
  }

  .remark-icon{
    /* margin-left: 2vw; */
    height: 7vh;
  
    width: 18vw;
    font-weight: 200px;
   }


} 


