@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap");

*{
  font-family: Outfit;
}
.nested-div {
    display: flex;
    padding-top: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #205072; /* Border color and width */
    background: #FFF;
    margin-left: 15%;
    margin-top: 2%;
    width: 70%;
    height: 95vh;
    overflow: hidden;
  }
  .navbar{
    justify-content: center;
  }
.navbar_heading{
    color: #205072;
    text-align: center;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btn{
  border: 1px solid #205072;
  background-color: #205072;
  color: #FFF;
}
.modal-header{
  margin-top: -2%;
  margin-right: 2%;
}
.close {
  background: none;
  padding: 0;
  border: 0;
}
.line {
    width: 98%;
    height: 1px;
    background: rgba(51, 54, 63, 0.60);
    margin: 4px;
  }
.profile_image{
    width: 48%;
    height: 80%;
    border-radius: 60%;
    border: 1px solid #38A3A5;
    margin-left: 0.5%;
    background-image: url('../../../../../../assets/images/Ellipse_52.png') ;
    background-repeat: no-repeat;
    background-size: cover;
}
.col-4{
    justify-content: center;
}
.col-8{
    justify-content: left;
    margin-left: -14%;
}
.col-7{
    margin-left: 2%;
}
.col-5{
  justify-content: center;
  width: 40%;
  height: 60%;
}

.profile_status_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-left: -7%;
  margin-top: -3%;
}

.profile_status{
    color: #E50202;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 8%;
    width: 60%;
}
  .profile_name{
    color: #205072;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
  .profile_email{
    color: #205072;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
  .profile_designation{
    color: #9747FF;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
  .pdf_logo{
    width: 20%;
    flex-shrink: 0;
    justify-self: start;
    align-items: center;
  }
  .resume_link{
    color: rgba(0, 116, 252, 0.72);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    display: flex;
    margin-left: -15%;
  }
  .feedback_container{
    overflow:scroll;
    border-left: 3px solid #205072;
  }
  .lower_details_param{
    color: #205072;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .lower_details{
    color: rgba(51, 54, 63, 0.60);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .status_text{
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .timeline{
    color: #205072;
    text-align: center;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .scrollspy-example {
    position: relative;
    height: 20%;
    margin-top: .5rem;
    overflow: auto;
  }

  .round_2{
    box-shadow: 0px 0px 4px 0px#E50202;
    stroke: #E50202;
    border: 4px solid  #E50202;
    color: red;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .round_1,.gd{
    box-shadow: 0px 0px 4px 0px#00AC2B;
    stroke: #00AC2B;
    border: 4px solid #00AC2B; ;
    color: green;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
  }
  
 
  .right_container{
    display: flex;
    background-color:#F5F5F5; 
    width: 50%;
    max-height: 70vh;
    padding-top: 110%;
    gap: 1px;
    justify-content: center; 
    align-items: center;
    border-radius: 20px;
    margin-left: 25%;
    border: 2px solid #B9B9B9;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: visible;
    overflow-x: hidden;
  
  }
  .up_arrow {
    width: 20%;
    stroke-width: 1px;
    stroke: #205072;
    
  }  
  .round_img_container{
    display: flex;
    width: 100px;
    height:100px;
    border-radius: 50%;
    background-color: #FFF;
    stroke-width: 4px;
    overflow: hidden;
    transition: transform 300ms ease-out;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    position: relative;
    
  }
  .round_img_container:hover{
    transform: scale(1.1);
  }
  
  .round_img{
    position: absolute;
    transform: translate(-50%, -50%);
    height: auto;
    
  }
  
  .scrollspy-example{
    border-left: 3px solid #205072;
    max-height: 100%;
    gap:5%;
    margin-top: 7%;
  }
  .rounds_name{
    color: #205072;
    text-align: center;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1%;
  }
 
  .rejected, .status_text {
    color: red;
  }
  .considered,.status_text {
    color: green;
  }

  
@media screen and (max-width:768px){
  .round_img_container{
    width: 80px;
    height: 80px;
    
  }
  .round_img{
    width: 20px;
  }
}
/* Styling the entire scrollbar */
::-webkit-scrollbar {
  width: 0px; /* Adjust this value to make the scrollbar thinner */
}

/* Styling the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}


/* Media Query for Mobile Phones */
@media screen and (max-width: 768px) {
  .nested-div {
    flex-direction: column;
    align-items: center;
  }

  .col-7, .col-5 {
    width: 50%;
  }

  .profile_status_div {
    margin-left: 0;
    margin-top: 1%;
    text-align: center;
  }
  .pro

  .right_container {
    width: 90%;
    margin: 5% auto;
  }
  .round_img{
    width: 10px;
  }
}

