.container{
    display: flex;

}
.navbar-nav{
    display: flex;
}
h6{
    color: rgba(8, 39, 55, 0.50);
font-family: Outfit;

}
.thead{
    color: #38A3A5;
    font-family: Outfit;}

.tname{
    color: #205072;
font-family: Outfit;
}    
/*
.title{
    display: flex;
width: 70px;
height: 80px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #082737;
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 50;
line-height: normal;
}

.typo{
    color: rgba(8, 39, 55, 0.50);
font-family: Outfit;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.emp{
    color: #38A3A5;
font-family: Outfit;
font-size: 6px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.code{
    color: #205072;
font-family: Outfit;
font-size: 6px;
font-style: normal;
font-weight: 400;
line-height: normal;
}*/