<!DOCTYPE html>
<html>
    <head>
        <Title>Employee Dashboard</Title>
    </head>
    <body>
        <!--<div class="test">
        <div class="test1">
            <img src="https://media.licdn.com/dms/image/C4D0BAQFYvS19t2m6FA/company-logo_200_200/0/1654052655904?e=2147483647&v=beta&t=HhKB2M3tbvT_vVMJ2OJ7wrGwJouMDTo8JzhhI06pNQk" alt="Logo" class="logo-image">
        </div>
        <div class="test2">
        <h4>Hi, Ayush Mittal</h4>
        <h6>Technical Trainee</h6>
        <h6>Emp Code : GSI GI 842</h6>
        <h6>Exp: 7 Months</h6>
        <h6>Location: Cannon Tower, Gurgaon</h6>
        </div>
    </div>-->

            <div class="container">
                <div class="section">
                  <h2>Delivery Council</h2>
                  <div class="DC">
                  <select>
                    <option value="PIMCO-DE">PIMCO</option>
                    <option value="Beacon">HDFC</option>
                    <option value="Tata Aig">TATA</option>
                    <option value="HDFC Ergo">BEACON</option>
                    <!-- Add more options as needed -->
                  </select>
                </div>
                </div>
                <div class="section">
                  <h2>Engineering Council</h2>
                  <div class="DC">
                  <select>
                    <option value="PIMCO-DE">PIMCO</option>
                    <option value="Beacon">HDFC</option>
                    <option value="Tata Aig">TATA</option>
                    <option value="HDFC Ergo">BEACON</option>
                    <!-- Add more options as needed -->
                  </select>
                </div>
                </div>
            </div>
            <div class="logo-container">
                <div class="logo5">
                  
                    <img src="assets/images/awards.png" alt="logo-1">
                  <h2>Awards</h2>
                </div>
                <div class="logo-box">
                   
                    <img src="assets/images/Certifications Card.png" alt="logo-2">
                 
                </div>
                <div class="logo-box">
                   
                    <img src="assets/images/Interview Card.png" alt="logo-3">
                 
                </div>
                <div class="logo-box">
                  
                    <img src="assets/images/Sessions Card.png" alt="logo-4">
                   
                </div>
                <div class="logo6">
                    <img src="assets/images/Client Feedback Card.png"  alt="logo-5" class="feed">
                   
                </div>
                <div class="logo6">
                   
                    <img src="assets/images/Other Contributions Card.png" alt="logo-6" class="feed">
                  
                </div>
                
            </div>


                <div class="card">
            
                    <div class="card-header">
            
                        <img src="assets/images/pending.png">
            
                        <span class="head">Pending Tasks</span>
            
                      </div>
            
                      <div class="card-body">
            
                     <ul class="task1">
                        <li>PIMCO Cyber Security Training <span class="task">(Deadline - 15th July)</span></li><br>
                        <li>Fill the July BOW <span class="task">(Deadline - 26th July)</span></li><br>
                        <li>July Monthly Connect with mentees</li>
                     </ul>  
                    </div>          
                </div>
                        
            <br>

           

                <div class="card">
            
                    <div class="card-header1">
            
                         <img src="assets/images/events.png">
            
                        <span class="head">Upcoming Events</span>
            
                      </div>
            
                      <div class="card-body">
            
                     <ul class="task1">
                        <li>Client Visit on 25th July (Uma Katru - PIMCO)</li><br>
                        <li>DE Team Gurgoan Office Visit (31-July-2023)</li><br>
                        <li>Team Trip in 3 week of october.<a href=""> Register Now!</a></li>
                     </ul>  
                    </div>          
                </div>
                     
            <br>

           

              
    </body>
</html>