<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div class="certificate">
            <div class="main">
                <h2>Certifications</h2>
                <img src="/assets/images/certi.png" class="task1">
                <img src="/assets/images/photo.png" class="task2">
                <img src="/assets/images/close.png" class="task4">
                <table>
                    <tr>
                      <td>Date</td>
                      <td>Certificate Name</td>
                      <td>Cost(Rs/-)</td>
                      <td>Link</td>
                    </tr>
                    <tr>
                      <td>16-March-2023</td>
                      <td><img src="/assets/images/certiname.png"><span class="task3">itc_V4 Certified</span></td>
                      <td>Rs.15,500</td>
                      <td><a href="">Click here to open</a></td>
                    </tr>
                  </table>
            </div>
        </div>
    </body>
</html>
