/* Base styles for all screen sizes */
body {
    margin: 0;
    padding: 0;
  }
  
  .certificate {
    text-align: center;
    padding: 20px;
    width: 800px;
height: 550px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #205072;
background: #FFF;
box-shadow: 0px 0px 3px 3px #0074FC;
margin: 400px;
  }



  h2{
display: flex;
width: 204px;
height: 68px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #205072;
text-align: center;
font-family: Outfit;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  
  /* Media query for smaller screens (e.g., mobile phones) */
  @media screen and (max-width: 768px) {
    body{
        font-size: 14px;
    }
  }
  
  /* Media query for tablets and medium-sized screens */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
 body{
    font-size: 18px;
 }
  }

  .task1{
width: 100px;
height: 100px;
flex-shrink: 0;
background: url("/assets/images/certi.png"), lightgray 50% / cover no-repeat;
  }
  
  .task2{
width: 100px;
height: 100px;
flex-shrink: 0;
border-radius: 100px;
border: 1px solid #38A3A5;
background: url("/assets/images/photo.png"), lightgray 50% / cover no-repeat;
  }



