<div class="container">
    <div class="box">
        
    
    <div class="empname_img">
        <img class="imgsize" src="assets/attendance/Ellipse 52.png">
        <div class="empname">Mansi Goyal</div>
    </div>

    <div class="box1"><h1>Attendance</h1></div>
    <div class="box2"><img class="attlogo" src="assets/attendance/8987710 1.png"></div>
    
    </div>
    <span class="btncross" ><img  src="assets/attendance/btn_close.png"></span>
    <br>
    <div class="line"></div><br>

    <div class="attendance-tabs">
        <div class="tab-button">
              <div class="tab-button1">Client Visits</div>
        </div>
        <div class="tab-button2">
              <div class="tab-button3">Internal Meetings</div>
        </div>
        <div class="tab-button2">
              <div class="tab-button3">Office Visits</div>
        </div>
        <div class="attendance-tabs-child">
        </div>
  </div>
    <table class="rounded-table">
        <tr>
          <th>Date</th>
          <th>Event</th>
          <th>Status</th>
        </tr>
        <tr>
          <td>01-January-2023</td>
          <td>Client Visit 1</td>
          <td>Present</td>
        </tr>
        <tr>
            <td>01-February-2023</td>
            <td>Client Visit 2</td>
            <td>Leave</td>
          </tr>
      </table>
 </div>
