<div class="container">
    <div class="box">
    <div class="empname_img">
        <img class="imgsize" src="assets/attendance/Ellipse 52.png">
        <div class="empname">Mansi Goyal</div>
    </div>

    <div class="box1"><h1>Attendance</h1></div>
    <div class="box2"><img class="attlogo" src="assets/attendance/8987710 1.png"></div>
    
    </div>
    <span class="btncross" ><img  src="assets/attendance/btn_close.png"></span>
    <br>
    <div class="line"></div><br>

    <div class="attendance-tabs">
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Client Visits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Internal Meetings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Office Visits</a>
            </li>
          </ul>
          <div class="line2"></div><br>
    </div>
    <div class="table-responsive rounded">
      <table class="table table-bordered">
          <thead class="text-center">
              <tr>
                  <th>Date</th>
                  <th>Event</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let cv of clientvisit">
              <td>{{cv.date}}</td>
              <td>{{cv.event}}</td>
              <td id="present">{{cv.status}}</td>
            </tr>
            <!--
            <tr>
              <td>01-January-2023</td>
              <td>Client Name 1</td>
              <td id="present">Present</td>
            </tr>
            <tr>
                <td>01-February-2023</td>
                <td>Client Name 2</td>
                <td id="leave">Leave</td>
              </tr>
              <tr>
                <td>01-March-2023</td>
                <td>Client Name 3</td>
                <td id="present">Present</td>
              </tr>
              <tr>
                <td>01-April-2023</td>
                <td>Client Name 4</td>
                <td id="wfh">WFH</td>
              </tr> -->
          </tbody>
      </table>
  </div>
 </div>
