<div class="container-fluid example-boundary m-0">
  <div class="row dashboard-container p-0">
    <div class="col-12 col-lg-8">
      <div class="row">
        <div class="personal-info-container">
          <div class="image-outer-container">
            <div class="text-img">
              <div class="image-container">
                <div class="circular-wrapper">
                  <img src="../../../../assets/images/OtherImages/user.jpg" alt="Image"
                    class="image-fluid circular-image">
                </div>
              </div>
              <p class="custom-card-workStatus">Working Hybridly</p>
            </div>
          </div>

          <div class="card-body">
            <!-- Name and Position -->
            <span class="custom-card-title"><span class="hi">Hi,</span>Siddhesh Sandeep pansare</span>
            <span class="custom-card-designation">Technology Solution Lead-L2</span>
            <!-- Other Details -->
            <div class="details">
              <span class="detail"><span class="custom-card-h2">Emp Code:</span><span class="custom-card-d2">GSI G
                  397</span></span>
              <span class="detail"><span class="custom-card-h2">Exp:</span><span class="custom-card-d2">6 years</span>
              </span>
              <span class="detail"><span class="custom-card-h2">Location:</span><span class="custom-card-d2">IT Park,
                  PanchKula</span></span>
            </div>
          </div>

        </div>
      </div>

      <div class="row ec-dc-row">
        <div class="bottom col-sm-10 col-md-8 col-xl-6 example-box" cdkDragBoundary=".example-boundary"
          (cdkDragEnded)="onDragEnded($event)" cdkDrag>
          <div class="example-handle" cdkDragHandle>
            <i class="fa-solid fa-arrows-up-down-left-right" style="color: #c0c0c0;"></i>
          </div>
          <div class="tab-group col-md-12">
            <div class="tabs">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" (click)="activateTab('dc')" [class.active]="activeTab === 'dc'">Delivery
                    Council</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="activateTab('ec')" [class.active]="activeTab === 'ec'">Engineering
                    Council</a>
                </li>
              </ul>
              <!-- <div class="line2"></div><br> -->

              <span *ngIf="activeTab === 'dc'">
                <app-dc-information></app-dc-information>
              </span>
              <span *ngIf="activeTab === 'ec'">
                <app-ec-information></app-ec-information>
              </span>
            </div>
          </div>
        </div>



        <div class="col-sm-2 col-md-4 col-xl-6  example-box" cdkDrag (cdkDragEnded)="onDragEnded($event)"
          cdkDragBoundary=".example-boundary">
          <div class="example-handle" cdkDragHandle>
            <i class="fa-solid fa-arrows-up-down-left-right" style="color: #c0c0c0;"></i>
          </div>
          <div class="row menu-cards-row">

            <div class="col-2 col-lg-6 col-md-6 menu-card-container mt-3" *ngFor="let card of cards">
              <div class="menu-card-box" (click)="openDialog(card.dialogComponent)">
                <img [src]="card.cardImageSrc" [alt]="card.ImageAlt" class="img-fluid menu-card-image">
              </div>
              <span class="menu-card-title pt-1">{{card.cardTitle}}</span>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="card col-md-4 example-box" >
      <div class="card example-box" cdkDrag (cdkDragEnded)="onDragEnded($event)">
        element 4
      </div>

    </div>
  </div>
</div>
