<div class="container example-boundary g-0">
  <div class="row">
    <div class="col-12 col-md-8" id="column1-container">
      <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag (cdkDragEnded)="onDragEnded($event)">

        <div class="container personal-info-container">
          <div class="row personal-info-row">
            <!-- Left Column - Image -->
            <div class="image-outer-container col-4 pr-sm-0 m-0 ">
              <div class="text-img">
                <div class="image-container">
                  <div class="circular-wrapper">
                    <img src="../../../../assets/images/OtherImages/user.jpg" alt="Image"
                      class="image-fluid circular-image">
                  </div>
                </div>
                <p class="custom-card-workStatus">Working Hybridly</p>
              </div>
            </div>
            <!-- Right Column - Employee Details -->
            <div class="col-8 col-lg-8 col-md-8 pl-0 m-0">
              <div class="card-body">
                <!-- Name and Position -->
                <h5 class="custom-card-title"><span class="hi">Hi,</span>Siddhesh Sandeep Pansare</h5>
                <p class="custom-card-designation">Technology Solution Lead-L2</p>
                <!-- Other Details -->
                <div class="details">
                  <p class="detail"><span class="custom-card-h2">Emp Code:</span><span class="custom-card-d2">GSI G
                      397</span></p>
                  <p class="detail"><span class="custom-card-h2">Exp:</span><span class="custom-card-d2">6 years</span>
                  </p>
                  <p class="detail"><span class="custom-card-h2">Location:</span><span class="custom-card-d2">IT Park,
                      PanchKula</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="example-handle" >
          move
        </div>
      </div>

      <div class="row m-1">
        <div class="bottom col-sm-10 col-md-8 col-lg-8 col-xl-6 example-box" cdkDragBoundary=".example-boundary"
          (cdkDragEnded)="onDragEnded($event)" cdkDrag>
          <div class="example-handle">
            <i class="fa-solid fa-arrows-up-down-left-right" style="color: #c0c0c0;"></i>
          </div>
          <div class="tab-group">
            <mat-tab-group>
              <mat-tab label="Delivery Council"><app-dc-information></app-dc-information></mat-tab>
              <mat-tab label="Engineering Council"><app-ec-information></app-ec-information></mat-tab>
            </mat-tab-group>
          </div>
        </div>

        <div class="cards col-sm-2 col-md-4 col-lg-4 col-xl-6 mt-2 example-box" cdkDragBoundary=".example-boundary"
          cdkDrag (cdkDragEnded)="onDragEnded($event)">
          <div class="example-handle" cdkDragHandle>
            <i class="fa-solid fa-arrows-up-down-left-right" style="color: #c0c0c0;"></i>
          </div>
          <div class="row menu-cards-row example-list">
            <div class="col-2 col-lg-6 col-md-6 menu-card-container mt-3" *ngFor="let card of cards"
              >
              <div class="menu-card-box" [matTooltip]="card.cardTitle">
                <img [src]="card.cardImageSrc" [alt]="card.ImageAlt" class="img-fluid menu-card-image">
              </div>
              <span class="menu-card-title pt-1">{{card.cardTitle}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4" id="column2-container">
      <div class="example-box news" cdkDragBoundary=".example-boundary" cdkDrag  (cdkDragEnded)="onDragEnded($event)">
        I can only be dragged within the dotted container 2 (when data is not there)
      </div>
    </div>



  </div>
</div>
