<div class="container-fluid example-boundary m-0">
  <div class="row dashboard-container p-0">
    <div class="col-12 col-lg-8">
      <div class="row">
        <!-- <div class="top center example-box" cdkDragBoundary=".example-boundary" cdkDrag
          (cdkDragEnded)="onDragEnded($event)">

          <div class="container personal-info-container">
            <div class="row personal-info-row">
              <div class="image-outer-container col-4 col-md-3">
                <div class="text-img">
                  <div class="image-container">
                    <div class="circular-wrapper">
                      <img src="../../../../assets/images/OtherImages/user.jpg" alt="Image"
                        class="image-fluid circular-image">
                    </div>
                  </div>
                  <p class="custom-card-workStatus">Working Hybridly</p>
                </div>
              </div>
              <div class="col-8 col-md-8 pl-0 m-0">
                <div class="card-body">
                  <p class="custom-card-title"><span class="hi">Hi,</span>Siddhesh Sandeep pansare</p>
                  <p class="custom-card-designation">Technology Solution Lead-L2</p>
                  <div class="details">
                    <p class="detail"><span class="custom-card-h2">Emp Code:</span><span class="custom-card-d2">GSI G
                        397</span></p>
                    <p class="detail"><span class="custom-card-h2">Exp:</span><span class="custom-card-d2">6
                        years</span>
                    </p>
                    <p class="detail"><span class="custom-card-h2">Location:</span><span class="custom-card-d2">IT Park,
                        PanchKula</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="example-handle" cdkDragHandle>
            <i class="fa-solid fa-arrows-up-down-left-right" style="color: #c0c0c0;"></i>
          </div>
        </div> -->
        <div class="card col-md-4 example-box" cdkDrag (cdkDragEnded)="onDragEnded($event)">
          element 1
        </div>
      </div>

      <div class="row">
        <div class="card col-md-4 example-box" cdkDrag (cdkDragEnded)="onDragEnded($event)">
          element 2
        </div>
        <div class="card col-md-4 example-box" cdkDrag (cdkDragEnded)="onDragEnded($event)">
          element 3
        </div>
      </div>
    </div>

    <div class="card col-md-4 example-box" cdkDrag (cdkDragEnded)="onDragEnded($event)">
      element 4
    </div>
  </div>
</div>
