<div class="position-fixed top-50 start-50 translate-middle">
    <div class="modal-dialog custom-modal-dialog p-3">
        <div class="modal-content">
            <div
                class="modal-header border-0 d-flex justify-content-end pt-2 mb-3 mt-0">
                <button type="button" class="close">
                    <img class="close_btn"
                        src="../../../../../../assets/awards-images/close_button.png">
                </button>
            </div>
            <div class="modal-body">
                <div class="row d-flex justify-content-between">
                    <div class="col-4 text-start">
                        <img class=" profile">
                    </div>
                    <div class="col-4 text-center">
                        <p class="title">Your Awards</p>
                    </div>
                    <div class="col-4 text-end">
                        <img class="awardslogo"
                            src="../../../../../../assets/awards-images/awards.png"
                            alt="Image 2">
                    </div>
                </div>
                <hr>
                <div class="table-responsive rounded" *ngIf="isDataLoaded">
                    <table class="table table-bordered">
                        <thead class="text-center">
                            <tr>
                                <th>Date</th>
                                <th>Award</th>
                                <th>Nominated By</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let cv of awardData">
                                <td>{{ cv.Date }}</td>
                                <td>{{ cv.Award }}</td>
                                <td>{{ cv.Nominated_By }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <img *ngIf="!isDataLoaded"
                    src="../../../../../../assets/awards-images/no_data.png"
                    alt="No Data" />

            </div>
            <div class="modal-footer d-flex bottom-0 justify-content-end">
                <button type="button" class="btn btn-warning">Add New Award</button>
            </div>
        </div>
    </div>
</div>