<div class="w-screen h-screen flex justify-center items-center">
    <div
        class="relative h-[70vh] w-[65vw] md:h-[60vh] md:w-[65vw] lg:h-[80vh] lg:w-[65vw] border-2 border-[#FFD700] rounded-lg bg-white p-5">
        <div class="flex justify-end"><button class="h-3 w-3"><img
                    src="assets/awards-images/close_button.png"></button></div>
        <div class="flex justify-between items-end">
            <div
                class="h-10 w-10 md:h-14 md:w-14 lg:h-20 lg:w-20 rounded-full bg-transparent border border-[#38A3A5]">
            </div>
            <h1 class="text-2xl font-semibold text-[#205072]">Your Awards</h1>
            <img class="h-10 w-10 md:h-14 md:w-14 lg:h-20 lg:w-20"
                src="assets/awards-images/awards.png">
        </div>
        <hr>
        <div class="flex justify-center">
            <table
                class="rounded-table">
                <thead class="font-weight-black">
                    <tr class><th>Date</th>
                        <th>Award</th>
                        <th>Nominated By</th>
                    </tr>
                </thead>
                <tbody class="font-semibold">
                    <tr><td>28-07-2023</td>
                        <td>Employee of the Quarter</td>
                        <td>Navtesh Agarwal</td></tr>
                    <tr><td>28-07-2023</td>
                        <td>Employee of the Quarter</td>
                        <td>Navtesh Agarwal</td></tr>
                </tbody>

            </table>
        </div>
        <button
            class="absolute bg-[#FFD700] rounded-md text-[#205072] px-3 py-2 bottom-5 right-10 text-[#205072] font-black">Add
            New Award</button>
    </div>
</div>