<div class="container">

    <h1>Your Remarks</h1>

    <img class="imgsize" src="assets/images/remark.png">

    <img class="remark-logo" src="assets/images/remark1.png">

    <span class="btncross" ><img  src="assets/images/close.png"></span>

    <br>

    <div class="line"></div><br>

    <table class="rounded-table">

        <tr>

          <th>Date</th>

          <th>Feedback</th>

          <th>Action</th>

        </tr>

        <tr>

          <td>01-Jan-2023</td>

          <td>Completed the Niagara Task on time, Good!</td>

          <td><img src="assets/images/edit.png">&nbsp;&nbsp;&nbsp; <img src="assets/images/delete.png"></td>

        </tr>

        <tr>

            <td>02-Feb-2023</td>
  
            <td>Infra Task Delayed</td>
  
            <td><img src="assets/images/edit.png">&nbsp;&nbsp;&nbsp;<img src="assets/images/delete.png"></td>
  
          </tr>

          <tr>

            <td>01-Mar-2023</td>
  
            <td>Client Name 3</td>
  
            <td><img src="assets/images/edit.png">&nbsp;&nbsp;&nbsp;<img src="assets/images/delete.png"></td>
  
          </tr>
       
        </table>

        <img class="remark3" src="assets/images/remark3.png">

 </div>
