<div class="container">
  <div class="box">
  <div class="empname_img">
      <img class="imgsize" src="assets/images/remark.png">
      <div class="empname">Mansi Goyal</div>
  </div>

  <div class="box1"><h1>Your Remarks</h1></div>
  <div class="box2"><img class="remlogo" src="assets/images/remark1.png"></div>
  
  </div>
  <span class="btncross" ><img  src="assets/images/close.png"></span>
  <br>
  <div class="line"></div><br>

  <div class="table-responsive rounded">
    <table class="table table-bordered">
        <thead class="text-center">
            <tr>
                <th>Date</th>
                <th>Feedback</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <td class="col1" id="date">01-Jan-2023</td>
            <td id="feed">Completed the Niagara Task on time, Good!</td>
            <td class="col3"><img src="assets/images/edit.png" class="logo1"><img src="assets/images/delete.png" class="logo2"></td>
          </tr>
          <tr>
            <td class="col1" id="date">02-Feb-2023</td>
            <td id="feed">Infra Task Delayed</td>
            <td class="col3"><img src="assets/images/edit.png" class="logo1"><img src="assets/images/delete.png" class="logo2"></td>
          </tr>
          <tr>
            <td class="col1" id="date">01-Mar-2023</td>
            <td id="feed">Client Name 3</td>
            <td class="col3"><img src="assets/images/edit.png" class="logo1"><img src="assets/images/delete.png" class="logo2"></td>
          </tr>
        </tbody>
    </table>

    <div class="box3">
    <img src="assets/images/remark3.png" class="addremark">
  </div>
    
</div>
</div>