.navbar{
    padding-right: 0px 0px 0px 0px;
    width: 1080px;
    height: 66px;
    left:79px;
    background-color:rgba(255, 255,255, 1);
}
  
.container{
    margin: 0px 0px 0px 0px;
}

.sidebar_toggle{
    width: 87.94117736816406px;
    height: 66px;
    border : 1px;
    padding-top: 0px;
}

.empsearch{
    width: 431px;
    height: 66px;
    position: absolute;
    left: 96px;

}

.notification{
   
   
    

}

.profile{
   position: absolute;
   padding-right: 0px;
   margin-left: 30px;

}