
<nav class="navbar navbar-expand-lg">

    <!-- Left-aligned content -->
    <div class="d-flex justify-content-between align-items-center">

      <div class="d-flex align-items-center">
        <!-- Brand/logo (optional) -->
        <div class="sd">
          <!-- <img class="sidebar_toggle" src="assets/header/st1.png" alt="Button 1"> -->
        </div>
      </div>
      <div class="col searchBar">
        <!-- Search bar -->
        <form class="searchBox" role="search">
          <input class="searchText" type="search" placeholder="Search an Employee" aria-label="Search">
          <a class="searchBtn">
          <img class="empsearch" src="assets/header/client1.png" alt="Button 2">
          </a>
        </form>
      </div>
    </div>

    <!-- Right-aligned content -->
    <div class="d-flex align-items-center ri">
      <div class="col">
        <!-- Notification icon -->
        <a class="nav-link">
          <img class="notification" src="assets/header/btn_notfication.png" alt="Button 3">
        </a>
      </div>
      <div class="col-auto">
        <!-- Profile icon with dropdown -->
        <div class="nav-item">
            <img class="profile" src="assets/header/btn_profile.png" (click)="toggleDropdown()" alt="Button 4">
        </div>
        <div  class="dropdown" [ngClass]="{ 'show': isDropdownOpen }" >
          <div class="dropdown-menu" [ngClass]="{ 'show': isDropdownOpen }">
            <a routerLink="employee/dashboard" class="dropdown-item first">My Profile</a>
            <a routerLink="login" class="dropdown-item second">Log out</a>
          </div>
        </div>
      </div>
    </div>

</nav>
