html{
    font-size: 62.5%;
}
.navbar{
    padding: 0px 0px 0px 0px;
    height: 66px;
    background-color:rgba(255,255,255,1);
}

.col{
    padding: 0px 0px 0px 0px;
}

.sidebar_toggle{
    height: 66px;
    padding-top: 0px;

}

.searchBar{
    border: 1px solid rgba(199, 192, 192, 0.744);
}

.notification{
   
   

}

a,a:hover{
    text-decoration: none;
}

.searchBox{
    position: relative;
    width: 431px;
    height: 66px;
    background: white;
    display: flex;    
    justify-content: center;

}

.searchText{  
  border: none;
  outline: none;
  width: 0rem;
  padding: 1.2rem;
}

.empsearch{
   align-items: center;    
   justify-content: center;
}

.profile{
   padding-right: 0px;
   margin-left: 50px;
}

.searchBox:hover{  
    cursor: pointer;
}


.searchBox:hover .searchText
{
    width: 20rem;
    transition: all 0.2s linear;
    display: block;
}

.searchBox:hover .empsearch,
.searchBox:valid .empsearch{
    color: white;
}

@media (max-width:768px){
    .searchBox{
        max-width: max-content;
        max-height: min-content;
        overflow: none;
        /* width: 431px;
        height: 66px;
        background: white;
        display: flex;    
        justify-content: center; */
    
    }
}