<div class="container">

  <div class="row">
    <div class="col-3">
      <img class="imgsize" src="assets/images/Ellipse 48.png">
    </div>
    <div class="col-6">
      <h1>Interviews Taken</h1>
    </div>
    <div class="col-3">
      <img class="logo" src="assets/images/interview.png">
    </div>
  </div>
    
    
    
    
    
    <div  ><img class="btncross" src="assets/images/btn_close.png"></div>
    <br>
    <div class="line"></div><br>
    <div class="image-container">
    <img class="nodata" src="assets/images/No data-cuate 1.png"><br>
    <img class="image-caption" src="assets/images/No Data Found red.svg">
    <!-- <span class="image-caption">No Data Found</span> -->
  </div>

    
 </div> 
