@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap");
/* body{

  font-family: Outfit;

} */

.btncross{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btncross:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .container{
    width: 70vw;
    height: 70vh; 
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #205072;
    background: #FFF;
    box-shadow: 0px 0px 3px 3px #0074FC;
    margin-top: -30vh;
    margin-left: 2%;
    /* margin-right: 15vw; */
    position: fixed;
    box-shadow: 0px 0px 3px 3px rgba(250, 10, 10, 0.50);
    display: flexbox;
    
    }

    h1{
      color: #205072;
      text-align: center;
      font-family: Outfit;
      font-size: 3vw;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      margin-top:10vh;
       
    
    }

    .imgsize{
        width: 10vw;
    height: 10vw;
    align-content: flex-start;
    margin-left: 1vw;    
    margin-top:8vh;
    }

    .logo{
      width: 8vw;
      height: 8vw;
      align-content: flex-end;
      background: white;
      /* align-items: flex-end;   */
      position: absolute; 
      margin-top: 8vh;
      margin-left: 5vw;
    
    }
    
    .nodata{
      display: block;  
      margin-left: 18vw;
      margin-top: -5vh;     
      padding: 5px;  
      width: 35vw;
      height: 34vh;
        
    }
    .image-container {
      text-align: center;
  }
    .image-caption{
      display: block;  
      margin-left: 30vw;
      margin-top: -16vh;     
      padding: 5px;  
      width: 15vw;
      height: 14vh;
    }
    
    .line {
      width: 101%; /* Adjust the width as needed */
      height: 0.1%; /* Adjust the height as needed */
      background: rgba(51, 54, 63, 0.60);
      margin-top: -2vh;

    }
/*     
    .rounded-table {
        margin-left: 10vw;
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        align-items: center;
        border: #205072;
        
      }
      
      th, td {
        padding: 1vw;
        border: 1px solid #ccc;
        color: #205072;
text-align: center;
font-family: Outfit;
font-size: 2.5vw;
font-style: normal;
font-weight: 500;
line-height: normal;

      }

      td{
        color: #38A3A5;
text-align: center;
font-family: Outfit;
font-size: 2vw;
font-style: normal;
font-weight: 400;
line-height: normal;
      }
      
      th {
        background-color: #f2f2f2;
        font-weight: bold;
      }
      
      tr:last-child td {
        border-bottom: none;
      }
      
      tr:hover {
        background-color: #f9f9f9;
      } */
      /* .tableicon{
        width: 60px;
height: 28.171px;
flex-shrink: 0;

      } */
      .btncross{
        right: 1vw;
        position: absolute;  
        top: 1vw;   
        cursor: pointer;   
        height: 15px;
      width: 15px;
      }
  
    
}
 
   /* For screens with a minimum width of 1025 pixels and larger (Laptop screens) */
  @media (min-width: 1025px){

    .container{
        width: 70vw;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #205072;
    background: #FFF;
    box-shadow: 0px 0px 3px 3px #0074FC;
    margin-top: -40vh;
    /* margin-bottom: 10vh; */
    margin-left: -20vw;
    position: fixed;
    box-shadow: 0px 0px 3px 3px rgba(250, 10, 10, 0.50);
    display: flexbox;
    
    }
         
    .nodata{
      display: block;  
      margin-left: 17vw;
      margin-top: -10vh;     
      padding: 5px;  
      width: 30vw;
      height: 60vh;
        
    }
    .image-container {
      text-align: center;
  }
    .image-caption{
      display: block;  
      margin-left: 28vw;
      margin-top: -18vh;     
      padding: 5px;  
      width: 10vw;
      height: 10vh;
    }

    h1{
      color: #205072;
      text-align: center;
      font-family: Outfit;
      font-size: 2vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top:18vh;
       
    
    }

    .imgsize{
      width: 8vw;
      height: 8vw;
      border-radius: 100px;
      /* border: 1px solid #38A3A5; */
      margin-left: 1vw;
      align-content: flex-start;
      margin-top:11vh;
    /* background: lightgray 50% / cover no-repeat; */
    }

    .logo{
      width: 7vw;
      height: 7vw;
      background: white;
      align-items: flex-end;  
      position: absolute;
      margin-top: 12vh;
      margin-left: 5vw;
    }
    
    
    .line {
      width: 100%; /* Adjust the width as needed */
      height: 0.1vh; /* Adjust the height as needed */
      background: rgba(51, 54, 63, 0.60);
      margin-top: -2vh;
    }

      .btncross{
        right: 0.5vw;
        position: absolute;  
        top: 0.5vw;   
        cursor: pointer; 
        height: 15px;
        width: 15px;
      }

    
  }
  @media (min-width: 1400px) and (max-width: 1800px){
    .btncross{
      right: 0.5vw;
      position: absolute;  
      top: 0.5vw;   
      cursor: pointer; 
      height: 15px;
      width: 15px;  
    }
    .image-caption{
      display: block;  
      margin-left: 27vw;
      margin-top: -20vh;     
      padding: 5px;  
      width: 13vw;
      height: 14vh;
    }
  }

 
  
  /* Media query for tablet screens */
  @media (min-width: 769px) and (max-width: 1024px) {
    .container{
        width: 84vw;
    height: 70vh;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #205072;
    background: #FFF;
    box-shadow: 0px 0px 3px 3px #0074FC;
    margin-top: -35vh;
    /* margin-bottom: 20vh; */
    margin-left: -16vw;
    position: fixed;
    box-shadow: 0px 0px 3px 3px rgba(250, 10, 10, 0.50);
    display: flexbox;
    }
        
    .nodata{
      display: block;  
      margin-left: 17vw;
      margin-top: -8vh;     
      padding: 5px;  
      width: 45vw;
      height: 55vh;
        
    }
    .image-container {
      text-align: center;
  }
    .image-caption{
      display: block;  
      margin-left: 34vw;
      margin-top: -20vh;     
      padding: 5px;  
      width: 15vw;
      height: 14vh;
    }

    h1{
      color: #205072;
      text-align: center;
      font-family: Outfit;
      font-size: 2.5vw;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      margin-top:15vh;
       
    
    }

    .imgsize{
      width: 10vw;
      height: 10vw;
      margin-left: 1vw;
      align-content: flex-start;
      margin-top:10vh;
    /* background: lightgray 50% / cover no-repeat; */
    }

    .logo{
      width: 8vw;
      height: 8vw;
      flex-shrink: 0;
      background: white;
      align-items: flex-end;  
      position: absolute;
      margin-top: 11vh;
      margin-left: 4vw;
    }
    
    
    .line {
      width: 101%; /* Adjust the width as needed */
      height: 0.1%; /* Adjust the height as needed */
      background: rgba(51, 54, 63, 0.60);

    }
/*     
    .rounded-table {
        margin-left: 10vw;
        margin-right: 10vw;
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        align-items: center;
        border: #205072;
        
      }
      
      th, td {
        padding: 1vw;
        border: 1px solid #ccc;
        color: #205072;
text-align: center;
font-family: Outfit;
font-size: 2vw;
font-style: normal;
font-weight: 500;
line-height: normal;

      }

      td{
        color: #38A3A5;
text-align: center;
font-family: Outfit;
font-size: 1.6vw;
font-style: normal;
font-weight: 400;
line-height: normal;
      }
      
      th {
        background-color: #f2f2f2;
        font-weight: bold;
      }
      
      tr:last-child td {
        border-bottom: none;
      }
      
      tr:hover {
        background-color: #f9f9f9;
      } */
      /* .tableicon{
        width: 60px;
height: 28.171px;
flex-shrink: 0;

      } */
      .btncross{
        right: 1vw;
        position: absolute;  
        top: 1vw;   
        cursor: pointer; 
        height: 15px;
        width: 15px;  
      }
    
  } 

  @media (min-width: 2281px){
    .container {
      width: 50vw;
      height: 83vh;
      flex-shrink: 0;
      border-radius: 10px;
      border: 1px solid #205072;
      background: #FFF;
      box-shadow: 0px 0px 3px 3px #0074FC;
      /* margin-top: 15vh;
      margin-bottom: 5vh;
      margin-left: 30vw;
      margin-right: 20vw; */
      /* position: relative; */
      box-shadow: 0px 0px 3px 3px rgba(250, 10, 10, 0.50);
      display: flexbox;
    }
    .nodata{
      display: block;  
      margin-left: 8vw;
      margin-top: -8vh;     
      padding: 5px;  
      width: 30vw;
      height: 50vh;
        
    }
    .image-container {
      text-align: center;
  }
    
      .image-caption{
        display: block;  
        margin-left: 19vw;
        margin-top: -18vh;     
        padding: 5px;  
        width: 10vw;
        height: 14vh;
      }
    
  
    h1 {
      
      color: #205072;
      text-align: center;
      font-family: Outfit;
      font-size: 2vw;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      margin-top:15vh;
    }
  
    .imgsize {
      width: 5vw;
      height: 5vw;
      margin-left: 1vw;
      align-content: flex-start;
      margin-top:10vh;
     }
  
    .logo {
      width: 5vw;
      height: 5vw;
      background: white;
      /* align-items: flex-end; */
      position: absolute;
      align-content: flex-end;
      margin-top: 10vh;
    margin-left: 5vw;
    }
  
    .line {
     
      width: 101%;
      height: 0.1%;
      background: rgba(51, 54, 63, 0.60);
    }
  
    /* .rounded-table {
     
      margin-left: 3vw;
      margin-right: 10vw;
      width: 38vw;
      border-collapse: collapse;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      align-items: center;
      border: #205072;
    }
  
   
     th, td {
      padding: 10px;
      border: 1px solid #ccc;
      color: #205072;
  text-align: center;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
    }
  
    td{
      color: #38A3A5;
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
    }
    
    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }
    
    tr:last-child td {
      border-bottom: none;
    }
    
    tr:hover {
      background-color: #f9f9f9;
    } */
   
    .btncross{
      right: 10px;
      position: absolute;  
      top: 10px;   
      cursor: pointer;   
      height: 15px;
      width: 15px;   
    }
  
    /* You can also add any other styles or adjustments for larger screens here*/
    
  }
  