<div class="position-fixed top-50 start-50 translate-middle">
  <div class="modal-dialog custom-modal-dialog p-3">
    <div class="modal-content">
      <div
        class="modal-header border-0 d-flex justify-content-end pt-2 mb-3 mt-0">
        <button type="button" class="close">
          <img class="close_btn"
            src="../../../../../../assets/awards-images/close_btn.png">
        </button>
      </div>
      <div class="modal-body">
        <div class="row d-flex justify-content-between">
          <div class="col-4 text-start">
            <img class="dialog-box-image">
          </div>
          <div class="col-4 text-center">
            <p class="dialog-box-title">Sessions</p>
          </div>
          <div class="col-4 text-end">
            <img class="dialog-box-icon"
              src="../../../../../../assets/session/interviewLogo.png"
              alt="Image 2">
          </div>
        </div>
        <hr>

        <div class="attendance-tabs">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" (click)="setActiveTab('Sessions Attended')"
                [class.active]="activeTab == 'Sessions Attended'">Sessions
                Attended</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="setActiveTab('Sessions Conducted')"
                [class.active]="activeTab == 'Sessions Conducted'">Sessions
                Conducted</a>
            </li>
          </ul>
          <div class="line2"></div><br>
        </div>

        <div class="dialog-box-table table-responsive rounded">
          <div *ngIf="activeTab === 'Sessions Attended'">
            <table class="table table-bordered" *ngIf="isDataLoadedsa">
              <thead class="text-center"
                [class.fade-in]="activeTab === 'Sessions Attended'">
                <tr>
                  <th>Date</th>
                  <th>Event</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody class="text-center"
                [class.fade-in]="activeTab === 'Sessions Attended'">
                <tr *ngFor="let cv of sessionsAttended">
                  <td>{{cv.date}}</td>
                  <td class="eventcolor">{{cv.event}}</td>
                  <td>{{cv.status}}</td>
                </tr>
              </tbody>
            </table>
            <div class="no_data d-flex justify-content-center"
              *ngIf="!isDataLoadedsa">
              <img
                src="assets/session/noData_sess.png"
                alt="No Data" />
              <p class="ndf">No Data Found</p>
            </div>
          </div>

          <div *ngIf="activeTab === 'Sessions Conducted'">
            <table class="dialog-box-table table table-bordered"
              *ngIf="isDataLoadedsc">
              <thead class="text-center"
                [class.fade-in]="activeTab === 'Sessions Conducted'">
                <tr>
                  <th>Date</th>
                  <th>Event</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody class="text-center"
                [class.fade-in]="activeTab === 'Sessions Conducted'">
                <tr *ngFor="let im of sessConducted">
                  <td>{{im.date}}</td>
                  <td class="eventcolor">{{im.event}}</td>
                  <td>{{im.status}}</td>
                </tr>
              </tbody>
            </table>
            <div class="no_data d-flex justify-content-center"
              *ngIf="!isDataLoadedsc">
              <img
                src="assets/session/noData_sess.png"
                alt="No Data" />
              <p class="ndf">No Data Found</p>
            </div>

          </div>

        </div>
      </div>
      <div class="modal-footer d-flex bottom-0 justify-content-end">
      </div>
    </div>
  </div>
</div>
