<div class="container">

  <div class="row">
    <div class="col-3">
      <img class="imgsize" src="assets/images/Ellipse 48.png">
    </div>
    <div class="col-6">
      <h1>Sessions</h1>
    </div>
    <div class="col-3">
      <img class="logo" src="assets/images/interview.png">
    </div>
  </div>    
    
    
    <div><img class="btncross" src="assets/images/btn_close.png"></div>
    <br>
    <div class="line"></div><br>
    <div>
    <nav class="nav">
      <a class="nav-link nav-link-static-border" href="#">Sessions Attended</a>
      <a class="nav-link nav-link-static-border" href="#">Sessions Conducted</a>
    </nav><br>
    <div class="line2"></div><br>
  </div>
    <!-- <table class="borderless-table ">
        <tr>
          <th class="left-cell"><a class="nav-link disabled" href="#" onclick="toggleTab('sessionsAttended')">Sessions Attended</a></th>
          <th class="right-cell"><a class="nav-link disabled" href="#" onclick="toggleTab('sessionsConducted')">Sessions Conducted</a></th>
        </tr>      
        
    </table> -->
    <!-- <div id="sessionsAttended" class="tab-content">
      Content for Sessions Attended tab
    </div>
    
    <div id="sessionsConducted" class="tab-content" style="display: none;">
      Content for Sessions Conducted tab
    </div>
     -->
    <div class="image-container">
      <img class="nodata" src="assets/images/No data-cuate green.png">
      <img class="image-caption" src="assets/images/No Data Found green.svg"><br>
      <!-- <span class="image-caption">No Data Found</span> -->
    
 </div> 
