<div class="container">
    <div class="box">
    <div class="empname_img">
        <img class="imgsize" src="assets/images/Ellipse_52.png">
        <div class="empname">Arshit Aggrawal</div>
    </div>
  
    <div class="box1"><h1>Other Contributions</h1></div>
    <div class="box2"><img class="contrilogo" src="assets/images/contri_logo.png"></div>
    
    </div>
    <span class="btncross" ><img  src="assets/images/btn_close.png"></span>
    <br>
    <div class="line"></div><br>
  
    <div class="table-responsive rounded" >
      <table class="table table-bordered" *ngIf="contributions.length > 0">
          <thead class="text-center">
              <tr>
                  <th>Date</th>
                  <th>Details</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody class="text-center">
  
            <tr *ngFor="let cd of contributions;let i =index">
              <td>{{cd.Date}}</td>
              <td >{{cd.Details}}</td>
              <td><img src="assets/images/edit.png" class="logo1 logo-hover"><img src="assets/images/delete.png" class="logo2 logo-hover" (click)="deleteRow(i)"></td>
            </tr>
          </tbody>
      </table>
    <div  class="no_data" *ngIf="contributions.length === 0">
      <img src="assets/images/contri_no_data.png" class="no_data_img" > 
  </div>
  <div class="d-flex justify-content-end mb-3"><button type="button" class="btn box3">Add  Contribution</button>
  </div>
  </div>
 
 
 
