@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap");

body {
  font-family: Outfit;
}

.council-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f5f5f5;
}

.name {
  color: rgba(51, 54, 63, 0.75);
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.exp {
  color: #56C596;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.bltag {
  color: #205072;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
}

.dcname {
  color: #205072;
  font-family: Outfit;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dcid {
  color: rgba(51, 54, 63, 0.60);
  font-family: Outfit;
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dropdown {
  float: right;
  position: absolute;
  padding-left: 280px;
  z-index: 10;
}

.card-info {

  color: #082737;
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.8px;
}

.small-card {
  border: none;
}

.img-slightly-down {
  margin-top: 7px;
  /* Adjust this value as needed */
  /* padding-right: 5%; */
}

.small-card .card-img {
  object-fit: cover;
  height: 35px;
  width: 35px;
  border-radius: 40px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}


.mentor-card {
  height: 130px;
  overflow-y: auto;

}

.card-img-top {
  height: 40%;
  width: 40%;
  margin-top: 13px;
}

.card-title {
  color: #205075;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.7px;
}

.card-text {
  color: rgba(51, 54, 63, 0.60);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -3vh;
}

.mentor-card {
  overflow: hidden;
}

.col-6 {
  color: #205072;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.card-header {
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px 0px 0px;
  background: rgba(0, 240, 255, 0.10);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
}

.repo {
  border-radius: 5px 5px 0px 0px;
  background: rgba(0, 240, 255, 0.10);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
}

.council2 {
  color: #082737;
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-right: 60px;
  padding-left: 50px;

}

.mentee-work-status {
  color: #F90;
  font-family: Outfit;
  font-size: 7px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: end;
  padding-right: 10%;
}

.mentee-work-statusO {
  color: #00AC2B;
  font-family: Outfit;
  font-size: 7px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: end;
  padding-right: 10%;
}

.mentee-work-statusL {
  color: #F00;
  font-family: Outfit;
  font-size: 7px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: end;
  padding-right: 10%;

}

span .arrows {
  display: flex;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

.fa-solid {
  padding: 50px;
}

.arrows:hover {
  background-color: #205075;
  color: rgba(0, 240, 255, 0.10);
}

.record-number {
  display: inline-block;
  height: 18px;
  width: 18px;
  background-color: #33363F;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  margin-top: 1vh;
}


@media (max-width: 1200px) {
  .reportee-card {
    padding: 0;
  }

  .img-container {
    padding: 0;
  }

  .inner-card-body {
    padding: 0;
  }

  .details-container {
    padding: 0;
  }

  .small-card {
    padding-right: 5px;
    ;
  }

  .mentee-work-status {
    padding-right: 10px;
  }
}

.council1 {
  color: rgba(0, 0, 0, 0.30);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
}

.col-6 {
  color: rgba(51, 54, 63, 0.60);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
