@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap");

body {
  font-family: Outfit;
}

.council-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f5f5f5;
}
.name{
color:var(--parameter-font-color);
font-family: var(--font-family);
font-size: var(--parameter-font-size);
font-style: normal;
font-weight:var(--font-weight-bold);
line-height: normal;
} 
.exp{
color: var(--lime-green-color);
font-family:var(--font-family);
font-size: var(--parameter-font-size);
font-style: normal;
font-weight:var(--font-weight-bold);
line-height: normal;
}
.bltag{
color: var(--accent-color);
font-family: var(--font-family);
font-size: var(--parameter-font-size);
font-style: normal;
font-weight: var(--font-weight-bold);
line-height: normal;
white-space: nowrap;
}

.dcname {
color: var(--accent-color);
font-family: Outfit;
font-size: var(--dc-name-font-size);
font-style: normal;
font-weight:var(--font-weight-bold);
line-height: normal;
} 
.dcid{
color: var(--id-font-color);
font-family: var(--font-family);
font-size: var(--dc-id-font-size);
font-style: normal;
font-weight: var(--font-weight-bold);
line-height: normal;
}
.card-info {
  color: var(--squid-ink-color);
  font-family:var(--font-family);
  font-size: var(--card-header-font-size);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: normal;
  letter-spacing: 0.8px;
}

.small-card {
  border: none;
}
.img-slightly-down {
  margin-top: 7px; /* Adjust this value as needed */
  /* padding-right: 5%; */
}
.small-card .card-img {
  object-fit: cover;
  height: 35px;
  width: 35px;
  border-radius: 40px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}


.mentor-card {
  height: 130px;
  overflow-y: auto;

}

.card-img-top {
  height: 40%;
  width: 40%;
  margin-top: 13px;
}

.card-title {
  color: var(--accent-color);
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.7px;
}

.card-text {
  color: rgba(51, 54, 63, 0.60);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -3vh;
}
.mentor-card{
  overflow: hidden;
}
.col-6 {
  color: #205072;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-1{
  border-radius: 0px;
}

.scard:hover{
  color:rgba(56, 163, 165, 1);
  border: 1px solid #205072;
}


.card-header {
  display: flex;
  justify-content: space-between;
  border-radius: var(--card-header-border-radius);
  background: var(--card-header-color);
  box-shadow: var(--card-header-box-shadow);
}


.repo{
  border-radius: var(--card-header-border-radius);
  background: var(--card-header-color);
  box-shadow: var(--card-header-box-shadow);
}
.council2 {
  color: #082737;
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mentee-work-status {
  color:var(--wfh-color);
  font-family: Outfit;
  font-size: var(--card-status-font-size);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: end;
  padding-right: 10%;
}
.mentee-work-statusO{
  color:var(--wfo-color);
  font-family: Outfit;
  font-size: var(--card-status-font-size);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: end;
  padding-right: 10%;
}
.mentee-work-statusL{
  color:var(--leave-color);
  font-family: Outfit;
  font-size: var(--card-status-font-size);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: end;
  padding-right: 10%;
  
}

.arrows{
  display: flex;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}


.arrows:hover{
  background-color:var(--accent-color);
  color: rgba(0, 240, 255, 0.10);
}

.record-number {
  display: inline-block;
  height: 18px;
  width: 18px;
  background-color: #33363F;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  margin-top: 1vh;
}


@media (max-width: 1200px) {
  .reportee-card {
    padding: 0;
  }

  .img-container {
    padding: 0;
  }

  .inner-card-body {
    padding: 0;
  }

  .details-container {
    padding: 0;
  }

  .small-card {
    padding-right: 5px;
    ;
  }

  .mentee-work-status {
    padding-right: 10px;
  }
}

.council1 {
  color: rgba(0, 0, 0, 0.30);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  padding-top: 6px;
}

.col-6 {
  color: rgba(51, 54, 63, 0.60);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
